
<body id="module-smartblog-details" class="module-smartblog-details hide-left-column hide-right-column lang_en  one-column">

    <div id="page">
        <div id="preloader"></div>

        <div class="columns-container">

            <div class="breadcrumb clearfix">
                <ul>
                    <li class="home">
                        <a class="home" href="@Url.Action("Index","Home")" title="Return to Home">
                            <i class="fa fa-home"></i>
                        </a>
                    </li>
                    <li class="crumb-1">
                        <span class="navigation-page">
                            <a href="">All Blog News</a>
                        </span>
                    </li>
                    <li class="crumb-2 last">
                        Kohler’s touchless Toilet Flush Kit
                    </li>
                </ul>
            </div>

            <div class="page-wrap">

                <div id="columns" class="container">
                    <div class="row">
                        <a href="#" id="home-scroll"></a>
                        <div class="large-left col-sm-12">
                            <div class="row">
                                <div id="center_column" class="center_column col-xs-12 col-sm-12">


                                    <div itemtype="#" itemscope="" id="sdsblogArticle" class="blog-post">


                                        <div itemprop="articleBody">

                                            <div class="post-image">
                                                <img class="img-responsive" src="/assets/modules/smartblog/images/4-single-default.jpg" alt="Kohler’s touchless Toilet Flush Kit">
                                            </div>

                                            <div class="postInfo">
                                                Posted by
                                                <span>Oct 15, 2014</span>
                                                <span itemprop="author">
                                                    <i class="fa fa-user"></i>
                                                    Admin Administrator
                                                </span>
                                            </div>

                                            <h1 class="title_block_exclusive">Kohler’s touchless Toilet Flush Kit</h1>

                                            <div class="sdsarticle-des">
                                                <p>One of the key DIY skills in any home is plumbing. All houses rely on water, bathing, drinking or heating, so knowing roughly how it works and how to fix certain parts is recommended. Here, at our online store we have a huge range of plumbing supplies and tools to take on the most plumbing challenges so that you can keep your home and sanitary ware running smoothly.<br /><br />
                                                 In most cases, the job will be to check and replace old or broken plumbing fittings. There are hundreds of different fittings available in our shop to suit both older and more modern plumbing systems. We stock everything from water heaters, pumps, pipes, traps, valves and parts for smaller jobs to other plumbing accessories like sealants and plumbers tape. In fact, there are many plumbing parts to choose from in different sizes and styles so if you are unsure about which is the right one for you, then simply ask a member of our team who will always be happy to help you. By the way, the process of choosing and buying plumbing goods is very easy. You just need to choose the item you like, click the "buy" button and fill in the order form. After that you will be contacted by our representative to coordinate a convenient time for you and shipping details.<br /><br />
                                                Like any kind of job, the key to success with plumbing is having the right tools. Our online store is a new and unique platform on which you can choose and order only high quality plumbing supplies from the top-rated manufacturers at the best prices. Our range is constantly expanded and updated with the new, modern and technologically advanced products. Remember: here you will get not just ordinary plumbing supplies, tools and parts, but the quality and comfort for your home for the long years.</p>
                                            </div>

                                            @*<div class="sdstags-update">
                                                <span class="tags">
                                                    <b>Tags: </b>
                                                    <a title="tag" href="http://ld-prestashop.template-help.com/prestashop_59032/index.php?fc=module&module=smartblog&tag=plumbing&controller=tagpost&id_lang=1">plumbing</a>
                                                    <a title="tag" href="http://ld-prestashop.template-help.com/prestashop_59032/index.php?fc=module&module=smartblog&tag=water&controller=tagpost&id_lang=1">water</a>
                                                    <a title="tag" href="http://ld-prestashop.template-help.com/prestashop_59032/index.php?fc=module&module=smartblog&tag=pipes&controller=tagpost&id_lang=1">pipes</a>
                                                </span>
                                            </div>*@

                                        </div>

                                        <div class="sdsarticleBottom">
                                            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-530f42996ff0edb8"></script>

                                            <div class="block-addthis">
                                                <div class="addthis_native_toolbox"></div>
                                            </div>

                                        </div>

                                    </div>

                                    @*<div id="articleComments" class="block">
                                        <h2 class="title_block">5<span class="badge_heading"></span> Comments</h2>

                                        <div id="comments">
                                            <div class="commentList">
                                                <ul class="commentList">
                                                    <li id="comment-2" class="even">
                                                        <div class="well">
                                                            <div class="comment-content clearfix box">
                                                                <div class="box_aside">
                                                                    <img class="avatar" alt="Avatar" src="/prestashop_59032/modules//smartblog/images/avatar/avatar-author-default.jpg">
                                                                </div>

                                                                <div class="box_cnt__no_flow">
                                                                    <div class="created">
                                                                        <span itemprop="commentTime">Oct 15, 2014</span>
                                                                    </div>
                                                                    <div class="name">John Doe</div>

                                                                    <p class="content_comment">"The success of your business would solely depend on you. The only thing you can rely on is your power to achieve your goal" – very true to life statement.</p>

                                                                    <div class="reply">
                                                                        <a onclick="return addComment.moveForm('comment-2', '2', 'respond', '4')" class="comment-reply-link btn btn-default"><span>Reply</span></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <ul class="commentList">
                                                            <li id="comment-3" class="even">
                                                                <div class="well">
                                                                    <div class="comment-content clearfix box">
                                                                        <div class="box_aside">
                                                                            <img class="avatar" alt="Avatar" src="/prestashop_59032/modules//smartblog/images/avatar/avatar-author-default.jpg">
                                                                        </div>

                                                                        <div class="box_cnt__no_flow">
                                                                            <div class="created">
                                                                                <span itemprop="commentTime">Oct 15, 2014</span>
                                                                            </div>
                                                                            <div class="name">Anna Lee</div>

                                                                            <p class="content_comment">I thought I am just a dreamer, but now I know how to become a doer. That’s cool, appreciate it!</p>

                                                                            <div class="reply">
                                                                                <a onclick="return addComment.moveForm('comment-3', '3', 'respond', '4')" class="comment-reply-link btn btn-default"><span>Reply</span></a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>


                                                            </li>
                                                        </ul>

                                                        <ul class="commentList">
                                                            <li id="comment-4" class="even">
                                                                <div class="well">
                                                                    <div class="comment-content clearfix box">
                                                                        <div class="box_aside">
                                                                            <img class="avatar" alt="Avatar" src="/prestashop_59032/modules//smartblog/images/avatar/avatar-author-default.jpg">
                                                                        </div>

                                                                        <div class="box_cnt__no_flow">
                                                                            <div class="created">
                                                                                <span itemprop="commentTime">Oct 15, 2014</span>
                                                                            </div>
                                                                            <div class="name">Fred Crue</div>

                                                                            <p class="content_comment">Completely agree with the author. Modern businessmen should involve young people, introduce brands to them, socialize… Looks like a fresh product market!</p>

                                                                            <div class="reply">
                                                                                <a onclick="return addComment.moveForm('comment-4', '4', 'respond', '4')" class="comment-reply-link btn btn-default"><span>Reply</span></a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <ul class="commentList">
                                                                    <li id="comment-6" class="even">
                                                                        <div class="well">
                                                                            <div class="comment-content clearfix box">
                                                                                <div class="box_aside">
                                                                                    <img class="avatar" alt="Avatar" src="/prestashop_59032/modules//smartblog/images/avatar/avatar-author-default.jpg">
                                                                                </div>

                                                                                <div class="box_cnt__no_flow">
                                                                                    <div class="created">
                                                                                        <span itemprop="commentTime">Oct 15, 2014</span>
                                                                                    </div>
                                                                                    <div class="name">Nick Nickelson</div>

                                                                                    <p class="content_comment">That’s awesome! Future belongs to youngsters, so businessmen can’t ignore their needs in any case.</p>

                                                                                    <div class="reply">
                                                                                        <a onclick="return addComment.moveForm('comment-6', '6', 'respond', '4')" class="comment-reply-link btn btn-default"><span>Reply</span></a>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>


                                                                    </li>
                                                                </ul>

                                                            </li>
                                                        </ul>

                                                    </li>
                                                </ul>

                                                <ul class="commentList">
                                                    <li id="comment-5" class="even">
                                                        <div class="well">
                                                            <div class="comment-content clearfix box">
                                                                <div class="box_aside">
                                                                    <img class="avatar" alt="Avatar" src="/prestashop_59032/modules//smartblog/images/avatar/avatar-author-default.jpg">
                                                                </div>

                                                                <div class="box_cnt__no_flow">
                                                                    <div class="created">
                                                                        <span itemprop="commentTime">Oct 15, 2014</span>
                                                                    </div>
                                                                    <div class="name">Anny Dawson</div>

                                                                    <p class="content_comment">The author did a great job with all these research work. Really valuable information, thank you!</p>

                                                                    <div class="reply">
                                                                        <a onclick="return addComment.moveForm('comment-5', '5', 'respond', '4')" class="comment-reply-link btn btn-default"><span>Reply</span></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>


                                                    </li>
                                                </ul>

                                            </div>
                                        </div>
                                    </div>*@

                                    @*<div class="smartblogcomments" id="respond">
                                        <h4 class="comment-reply-title page-subheading" id="reply-title">
                                            <span class="badge_heading"></span> Leave a Reply
                                            <small style="float:right;">
                                                <a style="display: none;" href="#" id="cancel-comment-reply-link" rel="nofollow">Cancel Reply</a>
                                            </small>
                                        </h4>

                                        <div id="commentInput">
                                            <p><span class="required">All fields are required</span></p>

                                            <form action="" method="post" id="commentform">
                                                <fieldset>
                                                    <label>
                                                        <input type="text" tabindex="1" placeholder="Name:" class="inputName form-control grey" value="" name="name">
                                                    </label>

                                                    <label>
                                                        <input type="text" tabindex="2" placeholder="E-mail:" class="inputMail form-control grey" value="" name="mail">
                                                        <span class="note">(Not Published)</span>
                                                    </label>

                                                    <label class="textarea">
                                                        <textarea tabindex="4" placeholder="Comment:" class="inputContent form-control grey" rows="8" cols="50" name="comment"></textarea>
                                                    </label>

                                                    <div class="submit">
                                                        <input type="submit" name="addComment" id="submitComment" class="button btn btn-default btn-lg" value="Submit">
                                                    </div>
                                                </fieldset>


                                                <input type='hidden' name='comment_post_ID' value='1478' id='comment_post_ID' />
                                                <input type='hidden' name='id_post' value='4' id='id_post' />
                                                <input type='hidden' name='comment_parent' id='comment_parent' value='0' />
                                            </form>
                                        </div>
                                    </div>*@

                                    <script type="text/javascript">
                                        var error = "Warning: Please check required form bellow!";
                                        var error_1 = "Name is required";
                                        var error_2 = "Comment must be between 25 and 1500 characters!";
                                        var error_3 = "E-mail address not valid!";
                                        var error_4 = "Captcha is not valid";
                                        $('#submitComment').bind('click', function (event) {
                                            event.preventDefault();
                                            var data = {
                                                'action': 'postcomment',
                                                'id_post': $('input[name=\'id_post\']').val(),
                                                'comment_parent': $('input[name=\'comment_parent\']').val(),
                                                'name': $('input[name=\'name\']').val(),
                                                //'website':$('input[name=\'website\']').val(),
                                                'smartblogcaptcha': $('input[name=\'smartblogcaptcha\']').val(),
                                                'comment': $('textarea[name=\'comment\']').val(),
                                                'mail': $('input[name=\'mail\']').val()
                                            };
                                            $.ajax({
                                                url: baseDir + 'modules/smartblog/ajax.php',
                                                data: data,
                                                dataType: 'json',
                                                beforeSend: function () {
                                                    $('.alert-warning, .alert-success, .alert-danger').remove();
                                                    $('#submitComment').attr('disabled', true);
                                                    $('#commentInput').before('<div class="attention"><img src="http://321cart.com/sellya/catalog/view/theme/default/image/loading.gif" alt="" />Please wait!</div>');
                                                },
                                                complete: function () {
                                                    $('#submitComment').attr('disabled', false);
                                                    $('.attention').remove();
                                                },
                                                success: function (json) {
                                                    if (json['error']) {
                                                        $('#commentInput').before('<div class="alert alert-warning">' + '<i class="fa fa-warning"></i> ' + error + '</div>');
                                                        $('.text-warning').each(function () {
                                                            $(this).text('')
                                                        });
                                                        if (json['error']['name']) {
                                                            $('.inputName').after('<span class="text-warning">' + error_1 + '</span>');
                                                        }
                                                        if (json['error']['mail']) {
                                                            $('.inputMail').after('<span class="text-warning">' + error_3 + '</span>');
                                                        }
                                                        if (json['error']['comment']) {
                                                            $('.inputContent').after('<span class="text-warning">' + error_2 + '</span>');
                                                        }
                                                        if (json['error']['captcha']) {
                                                            $('.smartblogcaptcha').after('<span class="text-warning">' + error_4 + '</span>');
                                                        }
                                                    }
                                                    if (json['success']) {
                                                        $('input[name=\'name\']').val('');
                                                        $('input[name=\'mail\']').val('');
                                                        //$('input[name=\'website\']').val('');
                                                        $('textarea[name=\'comment\']').val('');
                                                        $('input[name=\'smartblogcaptcha\']').val('');
                                                        $('#commentInput').before('<div class="alert alert-success">' + json['success'] + '</div>');
                                                        setTimeout(function () {
                                                            $('.alert-success').fadeOut(300).delay(450).remove();
                                                        }, 2500
                                                        );
                                                        location.reload();
                                                    }
                                                }
                                            });
                                        });
                                        var addComment = {
                                            moveForm: function (commId, parentId, respondId, postId) {
                                                var t = this, div, comm = t.I(commId), respond = t.I(respondId), cancel = t.I('cancel-comment-reply-link'), parent = t.I('comment_parent'), post = t.I('comment_post_ID');
                                                if (!comm || !respond || !cancel || !parent) {
                                                    return;
                                                }
                                                t.respondId = respondId;
                                                postId = postId || false;
                                                if (!t.I('wp-temp-form-div')) {
                                                    div = document.createElement('div');
                                                    div.id = 'wp-temp-form-div';
                                                    div.style.display = 'none';
                                                    respond.parentNode.insertBefore(div, respond);
                                                }
                                                comm.parentNode.insertBefore(respond, comm.nextSibling);
                                                if (post && postId) {
                                                    post.value = postId;
                                                }
                                                parent.value = parentId;
                                                cancel.style.display = '';
                                                cancel.onclick = function () {
                                                    var t = addComment, temp = t.I('wp-temp-form-div'), respond = t.I(t.respondId);
                                                    if (!temp || !respond) {
                                                        return;
                                                    }
                                                    t.I('comment_parent').value = '0';
                                                    temp.parentNode.insertBefore(respond, temp);
                                                    temp.parentNode.removeChild(temp);
                                                    this.style.display = 'none';
                                                    this.onclick = null;
                                                    return false;
                                                };
                                                try {
                                                    t.I('comment').focus();
                                                }
                                                catch (e)
                                                { }
                                                return false;
                                            },
                                            I: function (e) {
                                                return document.getElementById(e);
                                            }
                                        };
                                    </script>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</body>