
<body id="module-smartblog-category" class="module-smartblog-category show-left-column hide-right-column lang_en  two-columns">

    <div id="page">
        <div id="preloader"></div>

        <div class="columns-container">

            <div class="breadcrumb clearfix">
                <ul>
                    <li class="home">
                        <a class="home" href="@Url.Action("Index","Home")" title="Return to Home">
                            <i class="fa fa-home"></i>
                        </a>
                    </li>
                    <li class="crumb-1 last">
                        <span class="navigation-page">Tüm Haber ve Duyurular</span>
                    </li>
                </ul>
            </div>

            <div id="slider_row" class="row">
            </div>

            <div class="page-wrap">
                <div id="columns" class="container">
                    <div class="row">
                        <a href="#" id="home-scroll"></a>
                        <div class="large-left col-sm-offset-0">
                            <div class="row">

                                <div id="center_column" class="center_column  col-sm-10 ">

                                    <div id="smartblogcat" class="block">

                                        <div itemtype="#" itemscope="" class="sdsarticleCat clearfix">

                                            <div id="smartblogpost-4">

                                                <div class="articleContent">

                                                    <div class="col-sm-4 content_blog">
                                                        <a href="" itemprop="url" title="Kohler’s touchless Toilet Flush Kit" class="imageFeaturedLink post-image">
                                                            <img itemprop="image" alt="Kohler’s touchless Toilet Flush Kit" src="/assets/modules/smartblog/images/4-single-default.jpg" class="imageFeatured img-responsive">
                                                        </a>
                                                    </div>

                                                    <div class="col-sm-6 content_blog_des">

                                                        <div class="articleHeader">
                                                            <div class="postInfo">

                                                                Posted by
                                                                <span>Oct 15, 2014</span>
                                                                <span itemprop="author">
                                                                    <i class="fa fa-user"></i>
                                                                    Admin Administrator
                                                                </span>
                                                            </div>
                                                        </div>


                                                        <h2 class='title_block_exclusive'><a title="Kohler’s touchless Toilet Flush Kit" href="">Kohler’s touchless Toilet Flush Kit</a></h2>


                                                        <div class="sdsarticle-des" itemprop="description">
                                                            In most cases, the job will be to check and replace old or broken plumbing fittings. There are hundreds of different fittings available in our shop to suit both older and more modern plumbing systems. We stock everything from water heaters, pumps, pipes, traps, valves and parts for smaller jobs to other plumbing accessories like sealants and plumbers tape. In fact, there are many plumbing parts to choose from in different sizes and styles so if y
                                                        </div>

                                                        <a class="btn btn-default read-more" title="Kohler’s touchless Toilet Flush Kit" href="@Url.Action("HaberDetay","Haber")"><strong>Read more</strong></a>

                                                        @*<div class="articleHeader articleHeader_mod">
                                                            <div class="postInfo">

                                                                <span itemprop="articleSection">
                                                                    <i class="fa fa-tags"></i>
                                                                    <a href="http://ld-prestashop.template-help.com/prestashop_59032/index.php?fc=module&module=smartblog&slug=water-heaters&controller=category&id_lang=1">Water heaters</a>
                                                                </span>

                                                                <span class="comment">
                                                                    <i class="fa fa-comments"></i>
                                                                    <a title="5 Comments" href="http://ld-prestashop.template-help.com/prestashop_59032/index.php?fc=module&module=smartblog&id_post=4&slug=pellentesque-sollicitudin-iaculis-gravida&controller=details&id_lang=1#articleComments">5  Comments</a>
                                                                </span>

                                                                <span class="views">
                                                                    <i class="fa fa-eye"></i>  views (198)
                                                                </span>
                                                            </div>
                                                        </div>*@
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div itemtype="#" itemscope="" class="sdsarticleCat clearfix">

                                            <div id="smartblogpost-3">

                                                <div class="articleContent">

                                                    <div class="col-sm-4 content_blog">
                                                        <a href="" itemprop="url" title="Plumbing Leaks Attract  Household Pests" class="imageFeaturedLink post-image">
                                                            <img itemprop="image" alt="Plumbing Leaks Attract  Household Pests" src="/assets/modules/smartblog/images/3-single-default.jpg" class="imageFeatured img-responsive">
                                                        </a>
                                                    </div>

                                                    <div class="col-sm-6 content_blog_des">

                                                        <div class="articleHeader">
                                                            <div class="postInfo">

                                                                Posted by
                                                                <span>Oct 15, 2014</span>
                                                                <span itemprop="author">
                                                                    <i class="fa fa-user"></i>
                                                                    Admin Administrator
                                                                </span>
                                                            </div>
                                                        </div>


                                                        <h2 class='title_block_exclusive'><a title="Plumbing Leaks Attract  Household Pests" href=''>Plumbing Leaks Attract  Household Pests</a></h2>


                                                        <div class="sdsarticle-des" itemprop="description">
                                                            Thousands of people dream of having their own business and even more so be a successful entrepreneur. But what does it take to achieve success in the business industry? One of the most successful entrepreneurs featured at the Forbes website, Wendy Lipton - Dibner said that "the success of your business would solely depend on you. The only thing you can rely on is your power to achieve your goal".
                                                            She shared her success story at the Forbes websit
                                                        </div>

                                                        <a class="btn btn-default read-more" title="Plumbing Leaks Attract  Household Pests" href="http://ld-prestashop.template-help.com/prestashop_59032/index.php?fc=module&module=smartblog&id_post=3&slug=aliquam-elementum-lorem-ac-efficitur-tristiqu&controller=details&id_lang=1"><strong>Read more</strong></a>

                                                        @*<div class="articleHeader articleHeader_mod">
                                                            <div class="postInfo">

                                                                <span itemprop="articleSection">
                                                                    <i class="fa fa-tags"></i>
                                                                    <a href="http://ld-prestashop.template-help.com/prestashop_59032/index.php?fc=module&module=smartblog&slug=plumbing-tools-accessories&controller=category&id_lang=1">Plumbing Tools & Accessories</a>
                                                                </span>

                                                                <span class="comment">
                                                                    <i class="fa fa-comments"></i>
                                                                    <a title="0 Comments" href="http://ld-prestashop.template-help.com/prestashop_59032/index.php?fc=module&module=smartblog&id_post=3&slug=aliquam-elementum-lorem-ac-efficitur-tristiqu&controller=details&id_lang=1#articleComments">0  Comments</a>
                                                                </span>

                                                                <span class="views">
                                                                    <i class="fa fa-eye"></i>  views (107)
                                                                </span>
                                                            </div>
                                                        </div>*@
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div itemtype="#" itemscope="" class="sdsarticleCat clearfix">

                                            <div id="smartblogpost-2">

                                                <div class="articleContent">

                                                    <div class="col-sm-4 content_blog">
                                                        <a href="" itemprop="url" title="How Can a Metal Rod Save  Your Water Heater?" class="imageFeaturedLink post-image">
                                                            <img itemprop="image" alt="How Can a Metal Rod Save  Your Water Heater?" src="/assets/modules/smartblog/images/2-single-default.jpg" class="imageFeatured img-responsive">
                                                        </a>
                                                    </div>

                                                    <div class="col-sm-6 content_blog_des">

                                                        <div class="articleHeader">
                                                            <div class="postInfo">

                                                                Posted by
                                                                <span>Oct 15, 2014</span>
                                                                <span itemprop="author">
                                                                    <i class="fa fa-user"></i>
                                                                    Admin Administrator
                                                                </span>
                                                            </div>
                                                        </div>


                                                        <h2 class='title_block_exclusive'><a title="How Can a Metal Rod Save  Your Water Heater?" href=''>How Can a Metal Rod Save  Your Water Heater?</a></h2>


                                                        <div class="sdsarticle-des" itemprop="description">
                                                            Rumi, is the most popular Sufi poet in the world. His work is not only deep and intense, but also very ethereal. His poetry often stirs an emotion never touched and shows a facet never seen. This Buzzle article has a collection of some beautiful Rumi quotes that are worth reading, without which, life would literally feel quite disregarded.
                                                            "As you start to walk on the way, the way appears."
                                                            "Let yourself be silently drawn by the strange pull o
                                                        </div>

                                                        <a class="btn btn-default read-more" title="How Can a Metal Rod Save  Your Water Heater?" href="http://ld-prestashop.template-help.com/prestashop_59032/index.php?fc=module&module=smartblog&id_post=2&slug=cras-in-sem-in-arcu-ultrices&controller=details&id_lang=1"><strong>Read more</strong></a>

                                                        @*<div class="articleHeader articleHeader_mod">
                                                            <div class="postInfo">

                                                                <span itemprop="articleSection">
                                                                    <i class="fa fa-tags"></i>
                                                                    <a href="http://ld-prestashop.template-help.com/prestashop_59032/index.php?fc=module&module=smartblog&slug=stops-drains-plugs&controller=category&id_lang=1">Stops, Drains & Plugs</a>
                                                                </span>

                                                                <span class="comment">
                                                                    <i class="fa fa-comments"></i>
                                                                    <a title="0 Comments" href="http://ld-prestashop.template-help.com/prestashop_59032/index.php?fc=module&module=smartblog&id_post=2&slug=cras-in-sem-in-arcu-ultrices&controller=details&id_lang=1#articleComments">0  Comments</a>
                                                                </span>

                                                                <span class="views">
                                                                    <i class="fa fa-eye"></i>  views (85)
                                                                </span>
                                                            </div>
                                                        </div>*@
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="bottom-pagination-content clearfix">
                                        <ul class="pagination pull-right">
                                            <li class="active"><span class="page-active">1</span></li>
                                            <li><a class="page-link" href="">2</a></li>
                                        </ul>
                                        <div class="post-count">Showing 1 to 3 of 4 (1 Pages)</div>
                                    </div>


                                </div>

                                @*<div id="left_column" class="column col-xs-12 col-sm-3">

                                    <div class="block" id="smartblogsearch">
                                        <h4 class='title_block'><a href='http://ld-prestashop.template-help.com/prestashop_59032/index.php?fc=module&module=smartblog&controller=category&id_lang=1'>Blog Search</a></h4>
                                        <div id="sdssearch_block_top" class="block_content clearfix">
                                            <form action="http://ld-prestashop.template-help.com/prestashop_59032/index.php?fc=module&module=smartblog&controller=search&id_lang=1" method="post" id="searchbox">
                                                <input type="hidden" value="0" name="smartblogaction">
                                                <input type="text" value="" placeholder="Search" name="smartsearch" id="search_query_top" class="search_query form-control ac_input" autocomplete="off">
                                                <button class="btn btn-default button-search" name="smartblogsubmit" type="submit">
                                                    <span>Search</span>
                                                </button>
                                            </form>
                                        </div>
                                    </div>

                                    <section id="category_blog_block_left" class="block">

                                        <h4 class='title_block'><a href="http://ld-prestashop.template-help.com/prestashop_59032/index.php?fc=module&module=smartblog&controller=category&id_lang=1">Blog Categories</a></h4>
                                        <div class="block_content list-block">
                                            <ul>
                                                <li>
                                                    <a href="http://ld-prestashop.template-help.com/prestashop_59032/index.php?fc=module&module=smartblog&slug=water-heaters&controller=category&id_lang=1"><span>[1]</span> Water heaters</a>
                                                </li>
                                                <li>
                                                    <a href="http://ld-prestashop.template-help.com/prestashop_59032/index.php?fc=module&module=smartblog&slug=pipes-fittings-valves&controller=category&id_lang=1"><span>[0]</span> Pipes, Fittings & Valves</a>
                                                </li>
                                                <li>
                                                    <a href="http://ld-prestashop.template-help.com/prestashop_59032/index.php?fc=module&module=smartblog&slug=drain-openers&controller=category&id_lang=1"><span>[0]</span> Drain Openers</a>
                                                </li>
                                                <li>
                                                    <a href="http://ld-prestashop.template-help.com/prestashop_59032/index.php?fc=module&module=smartblog&slug=plumbing-tools-accessories&controller=category&id_lang=1"><span>[1]</span> Plumbing Tools & Accessories</a>
                                                </li>
                                                <li>
                                                    <a href="http://ld-prestashop.template-help.com/prestashop_59032/index.php?fc=module&module=smartblog&slug=pumps&controller=category&id_lang=1"><span>[0]</span> Pumps</a>
                                                </li>
                                                <li>
                                                    <a href="http://ld-prestashop.template-help.com/prestashop_59032/index.php?fc=module&module=smartblog&slug=stops-drains-plugs&controller=category&id_lang=1"><span>[1]</span> Stops, Drains & Plugs</a>
                                                </li>
                                                <li>
                                                    <a href="http://ld-prestashop.template-help.com/prestashop_59032/index.php?fc=module&module=smartblog&slug=irrigation&controller=category&id_lang=1"><span>[1]</span> Irrigation</a>
                                                </li>
                                                <li>
                                                    <a href="http://ld-prestashop.template-help.com/prestashop_59032/index.php?fc=module&module=smartblog&slug=pipe-insulation&controller=category&id_lang=1"><span>[0]</span> Pipe Insulation</a>
                                                </li>
                                                <li>
                                                    <a href="http://ld-prestashop.template-help.com/prestashop_59032/index.php?fc=module&module=smartblog&slug=water-filtration&controller=category&id_lang=1"><span>[0]</span> Water Filtration</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </section>

                                    <section id="recent_article_smart_blog_block_left" class="block">
                                        <h4 class='title_block'><a href="http://ld-prestashop.template-help.com/prestashop_59032/index.php?fc=module&module=smartblog&controller=category&id_lang=1">Recent Articles</a></h4>
                                        <div class="block_content products-block">
                                            <ul>
                                                <li class="clearfix first_item">
                                                    <a class="products-block-image" title="Kohler’s touchless Toilet Flush Kit" href="http://ld-prestashop.template-help.com/prestashop_59032/index.php?fc=module&module=smartblog&id_post=4&slug=pellentesque-sollicitudin-iaculis-gravida&controller=details&id_lang=1">
                                                        <img alt="Kohler’s touchless Toilet Flush Kit" src="/assets/modules/smartblog/images/4-home-small.jpg">
                                                    </a>
                                                    <div class="product-content">
                                                        <span class="info">Oct 15, 2014</span>
                                                        <h5><a class="post-name product-name" title="Kohler’s touchless Toilet Flush Kit" href="http://ld-prestashop.template-help.com/prestashop_59032/index.php?fc=module&module=smartblog&id_post=4&slug=pellentesque-sollicitudin-iaculis-gravida&controller=details&id_lang=1">Kohler’s touchless Toilet Flush Kit</a></h5>
                                                    </div>
                                                </li>
                                                <li class="clearfix">
                                                    <a class="products-block-image" title="Plumbing Leaks Attract  Household Pests" href="http://ld-prestashop.template-help.com/prestashop_59032/index.php?fc=module&module=smartblog&id_post=3&slug=aliquam-elementum-lorem-ac-efficitur-tristiqu&controller=details&id_lang=1">
                                                        <img alt="Plumbing Leaks Attract  Household Pests" src="/assets/modules/smartblog/images/3-home-small.jpg">
                                                    </a>
                                                    <div class="product-content">
                                                        <span class="info">Oct 15, 2014</span>
                                                        <h5><a class="post-name product-name" title="Plumbing Leaks Attract  Household Pests" href="http://ld-prestashop.template-help.com/prestashop_59032/index.php?fc=module&module=smartblog&id_post=3&slug=aliquam-elementum-lorem-ac-efficitur-tristiqu&controller=details&id_lang=1">Plumbing Leaks Attract  Household Pests</a></h5>
                                                    </div>
                                                </li>
                                                <li class="clearfix">
                                                    <a class="products-block-image" title="How Can a Metal Rod Save  Your Water Heater?" href="http://ld-prestashop.template-help.com/prestashop_59032/index.php?fc=module&module=smartblog&id_post=2&slug=cras-in-sem-in-arcu-ultrices&controller=details&id_lang=1">
                                                        <img alt="How Can a Metal Rod Save  Your Water Heater?" src="/assets/modules/smartblog/images/2-home-small.jpg">
                                                    </a>
                                                    <div class="product-content">
                                                        <span class="info">Oct 15, 2014</span>
                                                        <h5><a class="post-name product-name" title="How Can a Metal Rod Save  Your Water Heater?" href="http://ld-prestashop.template-help.com/prestashop_59032/index.php?fc=module&module=smartblog&id_post=2&slug=cras-in-sem-in-arcu-ultrices&controller=details&id_lang=1">How Can a Metal Rod Save  Your Water Heater?</a></h5>
                                                    </div>
                                                </li>
                                                <li class="clearfix last_item">
                                                    <a class="products-block-image" title="Get Serious About Water  Conservation on Earth Day" href="http://ld-prestashop.template-help.com/prestashop_59032/index.php?fc=module&module=smartblog&id_post=1&slug=lorem-ipsum-dolor-sit-amet&controller=details&id_lang=1">
                                                        <img alt="Get Serious About Water  Conservation on Earth Day" src="/assets/modules/smartblog/images/1-home-small.jpg">
                                                    </a>
                                                    <div class="product-content">
                                                        <span class="info">Oct 15, 2014</span>
                                                        <h5><a class="post-name product-name" title="Get Serious About Water  Conservation on Earth Day" href="http://ld-prestashop.template-help.com/prestashop_59032/index.php?fc=module&module=smartblog&id_post=1&slug=lorem-ipsum-dolor-sit-amet&controller=details&id_lang=1">Get Serious About Water  Conservation on Earth Day</a></h5>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </section>

                                    <section id="blogPopular" class="block">
                                        <h4 class='title_block'><a href="http://ld-prestashop.template-help.com/prestashop_59032/index.php?fc=module&module=smartblog&controller=category&id_lang=1">Popular Articles</a></h4>
                                        <div class="block_content products-block">
                                            <ul>
                                                <li class="clearfix first_item">
                                                    <a class="products-block-image" title="Kohler’s touchless Toilet Flush Kit" href="http://ld-prestashop.template-help.com/prestashop_59032/index.php?fc=module&module=smartblog&id_post=4&slug=pellentesque-sollicitudin-iaculis-gravida&controller=details&id_lang=1">
                                                        <img alt="Kohler’s touchless Toilet Flush Kit" src="/assets/modules/smartblog/images/4-home-small.jpg">
                                                    </a>
                                                    <div class="product-content">
                                                        <span class="info">Oct 15, 2014</span>
                                                        <h5><a class="post-name product-name" title="Kohler’s touchless Toilet Flush Kit" href="http://ld-prestashop.template-help.com/prestashop_59032/index.php?fc=module&module=smartblog&id_post=4&slug=pellentesque-sollicitudin-iaculis-gravida&controller=details&id_lang=1">Kohler’s touchless Toilet Flush Kit</a></h5>
                                                    </div>
                                                </li>
                                                <li class="clearfix">
                                                    <a class="products-block-image" title="Plumbing Leaks Attract  Household Pests" href="http://ld-prestashop.template-help.com/prestashop_59032/index.php?fc=module&module=smartblog&id_post=3&slug=aliquam-elementum-lorem-ac-efficitur-tristiqu&controller=details&id_lang=1">
                                                        <img alt="Plumbing Leaks Attract  Household Pests" src="/assets/modules/smartblog/images/3-home-small.jpg">
                                                    </a>
                                                    <div class="product-content">
                                                        <span class="info">Oct 15, 2014</span>
                                                        <h5><a class="post-name product-name" title="Plumbing Leaks Attract  Household Pests" href="http://ld-prestashop.template-help.com/prestashop_59032/index.php?fc=module&module=smartblog&id_post=3&slug=aliquam-elementum-lorem-ac-efficitur-tristiqu&controller=details&id_lang=1">Plumbing Leaks Attract  Household Pests</a></h5>
                                                    </div>
                                                </li>
                                                <li class="clearfix">
                                                    <a class="products-block-image" title="How Can a Metal Rod Save  Your Water Heater?" href="http://ld-prestashop.template-help.com/prestashop_59032/index.php?fc=module&module=smartblog&id_post=2&slug=cras-in-sem-in-arcu-ultrices&controller=details&id_lang=1">
                                                        <img alt="How Can a Metal Rod Save  Your Water Heater?" src="/assets/modules/smartblog/images/2-home-small.jpg">
                                                    </a>
                                                    <div class="product-content">
                                                        <span class="info">Oct 15, 2014</span>
                                                        <h5><a class="post-name product-name" title="How Can a Metal Rod Save  Your Water Heater?" href="http://ld-prestashop.template-help.com/prestashop_59032/index.php?fc=module&module=smartblog&id_post=2&slug=cras-in-sem-in-arcu-ultrices&controller=details&id_lang=1">How Can a Metal Rod Save  Your Water Heater?</a></h5>
                                                    </div>
                                                </li>
                                                <li class="clearfix last_item">
                                                    <a class="products-block-image" title="Get Serious About Water  Conservation on Earth Day" href="http://ld-prestashop.template-help.com/prestashop_59032/index.php?fc=module&module=smartblog&id_post=1&slug=lorem-ipsum-dolor-sit-amet&controller=details&id_lang=1">
                                                        <img alt="Get Serious About Water  Conservation on Earth Day" src="/assets/modules/smartblog/images/1-home-small.jpg">
                                                    </a>
                                                    <div class="product-content">
                                                        <span class="info">Oct 15, 2014</span>
                                                        <h5><a class="post-name product-name" title="Get Serious About Water  Conservation on Earth Day" href="http://ld-prestashop.template-help.com/prestashop_59032/index.php?fc=module&module=smartblog&id_post=1&slug=lorem-ipsum-dolor-sit-amet&controller=details&id_lang=1">Get Serious About Water  Conservation on Earth Day</a></h5>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </section>

                                    <section id="tags_blog_block_left" class="block">
                                        <h4 class='title_block'><a href="http://ld-prestashop.template-help.com/prestashop_59032/index.php?fc=module&module=smartblog&controller=category&id_lang=1">Tags Post</a></h4>
                                        <div class="block_content clearfix">
                                            <a href="http://ld-prestashop.template-help.com/prestashop_59032/index.php?fc=module&module=smartblog&tag=plumbing&controller=tagpost&id_lang=1">plumbing</a>
                                            <a href="http://ld-prestashop.template-help.com/prestashop_59032/index.php?fc=module&module=smartblog&tag=water&controller=tagpost&id_lang=1">water</a>
                                            <a href="http://ld-prestashop.template-help.com/prestashop_59032/index.php?fc=module&module=smartblog&tag=pipes&controller=tagpost&id_lang=1">pipes</a>
                                        </div>
                                    </section>

                                    <section id="smartblogarchive" class="block">
                                        <h4 class='title_block'><a href="http://ld-prestashop.template-help.com/prestashop_59032/index.php?fc=module&module=smartblog&controller=archive&id_lang=1">Blog Archive</a></h4>
                                        <div class="block_content list-block">
                                            <ul>

                                                <li>
                                                    <a href="http://ld-prestashop.template-help.com/prestashop_59032/index.php?fc=module&module=smartblog&year=2014&month=10&controller=archive&id_lang=1">
                                                        October
                                                        - 2014
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </section>

                                </div>*@

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</body>