.parallax-TopColumn .rd-parallax-layer.rd-parallax-layer__mod {
  z-index: 999 !important;
}
.parallax-TopColumn .row.parallax-hook {
  padding: 120px 15px;
}
@media (min-width: 1201px) {
  .parallax-TopColumn .row.parallax-hook {
    padding-top: 380px;
    padding-bottom: 380px;
  }
}
.parallax-TopColumn .text-layout.this_item {
  text-align: center;
  color: white;
}
.parallax-TopColumn .text-layout.this_item h1 {
  font: bold 120px/1 "Montserrat", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 12px;
  margin-top: 55px;
}
@media (min-width: 1200px) and (max-width: 1500px) {
  .parallax-TopColumn .text-layout.this_item h1 {
    font-size: 70px;
  }
}
@media (max-width: 1200px) {
  .parallax-TopColumn .text-layout.this_item h1 {
    font-size: 50px;
  }
}
.parallax-TopColumn .text-layout.this_item h2 {
  font: 400 23px/28px "Montserrat", Arial, Helvetica, sans-serif;
  line-height: 36px;
}
@media (min-width: 1800px) {
  .parallax-TopColumn .text-layout.this_item h2 {
    padding-left: 20%;
    padding-right: 20%;
    letter-spacing: 1.2px;
  }
}
@media (max-width: 1200px) {
  .parallax-TopColumn .text-layout.this_item h2 {
    font-size: 15px;
    line-height: 20px;
  }
}
.parallax-TopColumn .text-layout.this_item .scroll-btn > a {
  margin-top: 50px;
  width: 74px;
  height: 74px;
  line-height: 74px;
  display: inline-block;
  color: white;
  border: 2px solid white;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.parallax-TopColumn .text-layout.this_item .scroll-btn > a span {
  font-size: 0;
}
.parallax-TopColumn .text-layout.this_item .scroll-btn > a span:before {
  font-size: 30px;
  text-align: center;
  color: white;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
}
.parallax-TopColumn .text-layout.this_item .scroll-btn > a:hover {
  border-color: #80d3db;
}
.parallax-TopColumn .text-layout.this_item .scroll-btn > a:hover span:before {
  color: #80d3db;
  top: 3px;
}
@media (max-width: 1200px) {
  .parallax-TopColumn .text-layout.this_item {
    display: none;
  }
}

.mosaik-TopColumn .mosaic-block {
  max-width: 2049px;
  margin: 0 auto;
}
.mosaik-TopColumn .mosaic-block .block-container-row {
  padding: 0;
  margin: 0;
}
.mosaik-TopColumn .mosaic-block img {
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.mosaik-TopColumn .mosaic-block .tmmp-banner-description {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
.mosaik-TopColumn .mosaic-block .tmmp-banner-description p.custom {
  font: bold 50px/1 "Montserrat", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}
@media (max-width: 1599px) {
  .mosaik-TopColumn .mosaic-block .tmmp-banner-description p.custom {
    font-size: 26px;
  }
}
.mosaik-TopColumn .mosaic-block .tmmp-banner-description h2, .mosaik-TopColumn .mosaic-block .tmmp-banner-description p.btn-link {
  font: 400 23px/28px "Montserrat", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .mosaik-TopColumn .mosaic-block .tmmp-banner-description h2 {
    font-size: 16px;
  }
}
.mosaik-TopColumn .mosaic-block .tmmp-banner-description h2, .mosaik-TopColumn .mosaic-block .tmmp-banner-description p.btn-link, .mosaik-TopColumn .mosaic-block .tmmp-banner-description p.custom {
  color: #191e3b;
}
.mosaik-TopColumn .mosaic-block .tmmp-banner-description p.btn-link {
  font-size: 3vw;
  line-height: 0;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .mosaik-TopColumn .mosaic-block .tmmp-banner-description p.btn-link {
    font-size: 1.15vw;
  }
}
.mosaik-TopColumn .mosaic-block .tmmp-banner-description p.btn-link strong {
  font-weight: normal;
}
.mosaik-TopColumn .mosaic-block .tmmp-banner-description p.btn-link:hover {
  text-decoration: none;
  color: inherit;
}
.mosaik-TopColumn .mosaic-block .tmmp-frontend-banner.banner_content_down,
.mosaik-TopColumn .mosaic-block .tmmp-frontend-banner.banner_content_top {
  position: relative;
  z-index: 1;
  overflow: hidden;
  width: 100%;
  display: block;
  height: 100%;
}
.mosaik-TopColumn .mosaic-block .tmmp-frontend-banner.banner_content_down::before, .mosaik-TopColumn .mosaic-block .tmmp-frontend-banner.banner_content_down::after,
.mosaik-TopColumn .mosaic-block .tmmp-frontend-banner.banner_content_top::before,
.mosaik-TopColumn .mosaic-block .tmmp-frontend-banner.banner_content_top::after {
  pointer-events: none;
}
.mosaik-TopColumn .mosaic-block .tmmp-frontend-banner.banner_content_down:before,
.mosaik-TopColumn .mosaic-block .tmmp-frontend-banner.banner_content_top:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 1000px;
  height: 1000px;
  background: rgba(255, 255, 255, 0.3);
  content: '';
  transition: transform 0.5s;
  -moz-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
  -ms-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
  -o-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
  -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
  transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
  z-index: 2;
}
.mosaik-TopColumn .mosaic-block .tmmp-frontend-banner.banner_content_down .tmmp-banner-description,
.mosaik-TopColumn .mosaic-block .tmmp-frontend-banner.banner_content_top .tmmp-banner-description {
  bottom: 10%;
  top: 10%;
  left: 10%;
  right: 10%;
  display: block;
}
.mosaik-TopColumn .mosaic-block .tmmp-frontend-banner.banner_content_down .tmmp-banner-description > div,
.mosaik-TopColumn .mosaic-block .tmmp-frontend-banner.banner_content_top .tmmp-banner-description > div {
  padding: 12%;
  position: absolute;
  z-index: 9;
  right: 0;
  left: 0;
}
@media (max-width: 1599px) {
  .mosaik-TopColumn .mosaic-block .tmmp-frontend-banner.banner_content_down .tmmp-banner-description,
  .mosaik-TopColumn .mosaic-block .tmmp-frontend-banner.banner_content_top .tmmp-banner-description {
    bottom: 12%;
    top: 12%;
    left: 12%;
    right: 12%;
  }
  .mosaik-TopColumn .mosaic-block .tmmp-frontend-banner.banner_content_down .tmmp-banner-description > div,
  .mosaik-TopColumn .mosaic-block .tmmp-frontend-banner.banner_content_top .tmmp-banner-description > div {
    padding: 15px;
  }
}
.mosaik-TopColumn .mosaic-block .tmmp-frontend-banner.banner_content_down:hover img,
.mosaik-TopColumn .mosaic-block .tmmp-frontend-banner.banner_content_top:hover img {
  opacity: .8;
  -moz-transform: scale3d(1, 1, 1);
  -ms-transform: scale3d(1, 1, 1);
  -o-transform: scale3d(1, 1, 1);
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}
.mosaik-TopColumn .mosaic-block .tmmp-frontend-banner.banner_content_down:hover:before,
.mosaik-TopColumn .mosaic-block .tmmp-frontend-banner.banner_content_top:hover:before {
  -moz-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
  -ms-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
  -o-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
  -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
  transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
}
.mosaik-TopColumn .mosaic-block .tmmp-frontend-banner.banner_content_down .tmmp-banner-description > div {
  bottom: 0;
}
.mosaik-TopColumn .mosaic-block .tmmp-frontend-banner.banner_content_down .tmmp-banner-description > div h2, .mosaik-TopColumn .mosaic-block .tmmp-frontend-banner.banner_content_down .tmmp-banner-description > div p.custom {
  position: relative;
}
.mosaik-TopColumn .mosaic-block .tmmp-frontend-banner.banner_content_down .tmmp-banner-description > div p.custom {
  padding-top: 15px;
  -moz-transition: all 0.2s ease 0.2s;
  -o-transition: all 0.2s ease 0.2s;
  -webkit-transition: all 0.2s ease;
  -webkit-transition-delay: 0.2s;
  transition: all 0.2s ease 0.2s;
}
.mosaik-TopColumn .mosaic-block .tmmp-frontend-banner.banner_content_down .tmmp-banner-description > div p.custom strong {
  display: block;
  font-size: 80px;
  line-height: 1.1;
  -moz-transition: all 0.2s ease 0.2s;
  -o-transition: all 0.2s ease 0.2s;
  -webkit-transition: all 0.2s ease;
  -webkit-transition-delay: 0.2s;
  transition: all 0.2s ease 0.2s;
  position: relative;
  font-weight: normal;
}
.mosaik-TopColumn .mosaic-block .tmmp-frontend-banner.banner_content_top .tmmp-banner-description > div {
  top: 0;
  bottom: 0;
}
.mosaik-TopColumn .mosaic-block .tmmp-frontend-banner.banner_content_top .tmmp-banner-description > div h2, .mosaik-TopColumn .mosaic-block .tmmp-frontend-banner.banner_content_top .tmmp-banner-description > div p.custom {
  position: relative;
}
.mosaik-TopColumn .mosaic-block .tmmp-frontend-banner.banner_content_left .tmmp-banner-description > div,
.mosaik-TopColumn .mosaic-block .tmmp-frontend-banner.banner_content_right .tmmp-banner-description > div {
  padding: 80px;
}
@media (max-width: 1599px) {
  .mosaik-TopColumn .mosaic-block .tmmp-frontend-banner.banner_content_left .tmmp-banner-description > div,
  .mosaik-TopColumn .mosaic-block .tmmp-frontend-banner.banner_content_right .tmmp-banner-description > div {
    padding: 20px;
  }
}
@media only screen and (min-width: 768px) {
  .mosaik-TopColumn .mosaic-block .tmmp-frontend-banner.banner_content_left:hover h2:after,
  .mosaik-TopColumn .mosaic-block .tmmp-frontend-banner.banner_content_left:hover p.custom:before,
  .mosaik-TopColumn .mosaic-block .tmmp-frontend-banner.banner_content_right:hover h2:after,
  .mosaik-TopColumn .mosaic-block .tmmp-frontend-banner.banner_content_right:hover p.custom:before {
    -moz-animation: zoomIn 0.6s;
    -webkit-animation: zoomIn 0.6s;
    animation: zoomIn 0.6s;
  }
}
.mosaik-TopColumn .mosaic-block .tmmp-frontend-banner.banner_content_left .tmmp-banner-description > div h2 {
  position: relative;
  padding-right: 160px;
}
@media (max-width: 1599px) {
  .mosaik-TopColumn .mosaic-block .tmmp-frontend-banner.banner_content_left .tmmp-banner-description > div h2 {
    padding-right: 80px;
  }
}
.mosaik-TopColumn .mosaic-block .tmmp-frontend-banner.banner_content_left .tmmp-banner-description > div h2:after {
  content: '';
  position: absolute;
  right: 0;
  height: 2px;
  background: #191e3b;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 15%;
  margin-left: 15px;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media (min-width: 768px) {
  .mosaik-TopColumn .mosaic-block .tmmp-frontend-banner.banner_content_left .tmmp-banner-description > div h2:after {
    width: 33%;
  }
}
@media (max-width: 480px) {
  .mosaik-TopColumn .mosaic-block .tmmp-frontend-banner.banner_content_left .tmmp-banner-description > div h2 {
    font-size: 20px;
  }
  .mosaik-TopColumn .mosaic-block .tmmp-frontend-banner.banner_content_left .tmmp-banner-description > div h2:after {
    top: 15px;
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    width: 30%;
  }
}
.mosaik-TopColumn .mosaic-block .tmmp-frontend-banner.banner_content_right .tmmp-banner-description > div {
  float: right;
}
.mosaik-TopColumn .mosaic-block .tmmp-frontend-banner.banner_content_right .tmmp-banner-description > div h2, .mosaik-TopColumn .mosaic-block .tmmp-frontend-banner.banner_content_right .tmmp-banner-description > div p {
  margin: 0;
  padding-left: 160px;
}
@media (max-width: 992px) {
  .mosaik-TopColumn .mosaic-block .tmmp-frontend-banner.banner_content_right .tmmp-banner-description > div h2, .mosaik-TopColumn .mosaic-block .tmmp-frontend-banner.banner_content_right .tmmp-banner-description > div p {
    padding-left: 90px;
  }
}
.mosaik-TopColumn .mosaic-block .tmmp-frontend-banner.banner_content_right .tmmp-banner-description > div p.custom {
  position: relative;
}
.mosaik-TopColumn .mosaic-block .tmmp-frontend-banner.banner_content_right .tmmp-banner-description > div p.custom strong {
  font-weight: normal;
}
.mosaik-TopColumn .mosaic-block .tmmp-frontend-banner.banner_content_right .tmmp-banner-description > div p.custom:before {
  content: '';
  position: absolute;
  left: 0;
  height: 2px;
  background: #191e3b;
  top: 8px;
  width: 15%;
  margin-right: 15px;
}
@media (min-width: 768px), (max-width: 480px) {
  .mosaik-TopColumn .mosaic-block .tmmp-frontend-banner.banner_content_right .tmmp-banner-description > div p.custom:before {
    width: 33%;
  }
}
.mosaik-TopColumn .mosaic-block .tmmp_row_4 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 6px;
}
.mosaik-TopColumn .mosaic-block .tmmp_row_4 > li {
  position: relative;
  padding: 0;
}
.mosaik-TopColumn .mosaic-block .tmmp_row_4 > li:first-child:before, .mosaik-TopColumn .mosaic-block .tmmp_row_4 > li:last-child:before {
  content: '';
  top: 0;
  bottom: 0;
  width: 6px;
  height: 100%;
  background: white;
  position: absolute;
  z-index: 3;
}
.mosaik-TopColumn .mosaic-block .tmmp_row_4 > li:first-child:before {
  right: -6px;
}
.mosaik-TopColumn .mosaic-block .tmmp_row_4 > li:last-child:before {
  left: -6px;
}
.mosaik-TopColumn .mosaic-block .tmmp_row_4 > li .tmmp-banner-description {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
.mosaik-TopColumn .mosaic-block .tmmp_row_4 > li > ul.row {
  margin-left: 0;
  margin-right: 0;
}
.mosaik-TopColumn .mosaic-block .tmmp_row_4 > li > ul.row li {
  padding: 0;
}
.mosaik-TopColumn .mosaic-block .tmmp_row_4 > li > ul.row li + li {
  position: relative;
}
.mosaik-TopColumn .mosaic-block .tmmp_row_4 > li > ul.row li + li:before {
  content: '';
  position: absolute;
  top: -6px;
  left: 0;
  right: 0;
  width: 100%;
  height: 6px;
  background: white;
}
@media (max-width: 767px) {
  .mosaik-TopColumn .mosaic-block .tmmp_row_4 {
    display: flex;
    -webkit-display: flex;
    justify-content: center;
    -webkit-justify-content: center;
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    margin: 0;
  }
  .mosaik-TopColumn .mosaic-block .tmmp_row_4 li {
    padding: 0;
    max-width: 570px;
    width: 100%;
    margin: 0 auto;
    float: none !important;
  }
  .mosaik-TopColumn .mosaic-block .tmmp_row_4 li .col-sm-4 {
    width: 100%;
  }
  .mosaik-TopColumn .mosaic-block .tmmp_row_4 li > ul.row {
    margin: 0;
    padding: 0;
  }
  .mosaik-TopColumn .mosaic-block .tmmp_row_4 li > ul.row li {
    padding: 0;
    margin: 0 auto;
  }
  .mosaik-TopColumn .mosaic-block .tmmp_row_4 li > ul.row li:last-child {
    display: none;
  }
  .mosaik-TopColumn .mosaic-block .tmmp_row_4 li:last-child {
    display: none;
  }
}
