.top_menu {
  clear: both;
  float: none; }

.stickUpTop {
  position: relative;
  width: 100%;
  left: 0;
  top: 1px;
  background: #191e3b;
  -moz-box-shadow: 0px 5px 7px 0px rgba(25, 30, 59, 0.31);
  -webkit-box-shadow: 0px 5px 7px 0px rgba(25, 30, 59, 0.31);
  box-shadow: 0px 5px 7px 0px rgba(25, 30, 59, 0.31); }
  @media (max-width: 767px) {
    .stickUpTop {
      display: none !important; } }

.stickUpHolder {
  max-width: 100%;
  background: white; }

@media only screen and (max-width: 1199px) {
  .isStuck .container {
    padding-left: 15px;
    padding-right: 15px; } }
.top_menu > ul, .top_menu .stickUpHolder > ul {
  padding: 20px 0 10px;
  display: flex;
  -webkit-display: flex;
  justify-content: center;
  -webkit-justify-content: center;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  position: relative; }
  @media (min-width: 768px) {
    .top_menu > ul, .top_menu .stickUpHolder > ul {
      padding: 0; } }
  .top_menu > ul > li, .top_menu .stickUpHolder > ul > li {
    z-index: 3;
    padding: 0 15px; 
  }
    @media only screen and (min-width: 1900px) {
      .top_menu > ul > li, .top_menu .stickUpHolder > ul > li {
        padding: 10px 50px; } }
    @media (min-width: 1600px) and (max-width: 1899px) {
      .top_menu > ul > li, .top_menu .stickUpHolder > ul > li {
        padding: 0 40px; } }
    .top_menu > ul > li > a, .top_menu .stickUpHolder > ul > li > a {
      position: relative;
      display: inline-block;
      padding: 15px 0;
      color: #191e3b;
      font: 400 20px/24px "Montserrat", Arial, Helvetica, sans-serif;
      text-shadow: none;
      letter-spacing: 0.1px;
      margin-left:-20px;
      z-index: 2; }

      @media (min-width: 768px) and (max-width: 1200px) {
        .top_menu > ul > li > a, .top_menu .stickUpHolder > ul > li > a {
          font-size: 13px; } }
      @media (max-width: 767px) {
        .top_menu > ul > li > a, .top_menu .stickUpHolder > ul > li > a {
          font-size: 22px; } }
      @media only screen and (min-width: 768px) {
        .top_menu > ul > li > a:before, .top_menu .stickUpHolder > ul > li > a:before {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          max-width: 0;
          overflow: hidden;
          padding: 15px 0;
          white-space: nowrap;
          z-index: 1;
          border-bottom: 4px solid #660033;
          color: red;
          content: attr(data-hover);
          -moz-transition: max-width 0.4s ease;
          -o-transition: max-width 0.4s ease;
          -webkit-transition: max-width 0.4s ease;
          transition: max-width 0.4s ease; } }

    @media only screen and (min-width: 768px ) and (max-width:1700px) {
        .top_menu > ul > li > a, .top_menu .stickUpHolder > ul > li > a {
            padding: 27px 0;
            font: 18px/24px "Montserrat", Arial, Helvetica, sans-serif;
            margin-left:0px;
        }

            .top_menu > ul > li > a:before, .top_menu .stickUpHolder > ul > li > a:before {
                padding: 27px 0;
            }
    }

    .top_menu > ul > li:hover > a:hover, .top_menu .stickUpHolder > ul > li:hover > a:hover {
        color: red;
    }

    @media only screen and (min-width: 768px) {
        .top_menu > ul > li:hover a:before, .top_menu .stickUpHolder > ul > li:hover a:before {
            max-width: 100%;
        }

        .top_menu > ul > li:hover > a:hover:before, .top_menu .stickUpHolder > ul > li:hover > a:hover:before {
            max-width: 100%;
        }

        .top_menu > ul > li.sfHover > a, .top_menu > ul > li.sfHoverForce > a, .top_menu .stickUpHolder > ul > li.sfHover > a, .top_menu .stickUpHolder > ul > li.sfHoverForce > a {
            color: red;
        }
    }

    .top_menu > ul > li:hover > span.menu-mobile-grover:before, .top_menu .stickUpHolder > ul > li:hover > span.menu-mobile-grover:before {
        color: red;
    }

    @media only screen and (min-width: 768px) {
        .top_menu > ul > li ul.is-simplemenu, .top_menu > ul > li ul.is-simplemenu ul, .top_menu .stickUpHolder > ul > li ul.is-simplemenu, .top_menu .stickUpHolder > ul > li ul.is-simplemenu ul {
            display: none;
            width: 270px;
            left: 100%;
            position: absolute;
            z-index: 99;
            border: 1px solid #ccc;
            background: #fff;
            padding: 30px 15px;
        }
    }

    @media only screen and (max-width: 767px) {
        .top_menu > ul > li ul.is-simplemenu, .top_menu > ul > li ul.is-simplemenu ul, .top_menu .stickUpHolder > ul > li ul.is-simplemenu, .top_menu .stickUpHolder > ul > li ul.is-simplemenu ul {
            background: #fff;
        }
    }

    .top_menu > ul > li > ul.is-simplemenu, .top_menu .stickUpHolder > ul > li > ul.is-simplemenu {
        right: auto;
        top: 100%;
    }

    @media (min-width: 768px) {
        .top_menu > ul > li > ul.is-simplemenu, .top_menu .stickUpHolder > ul > li > ul.is-simplemenu {
            left: 50%;
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
        }
    }

    .top_menu > ul > li ul.is-simplemenu ul, .top_menu .stickUpHolder > ul > li ul.is-simplemenu ul {
        top: -31px;
    }

    @media only screen and (max-width: 767px) {
        .top_menu > ul > li, .top_menu .stickUpHolder > ul > li {
            width: 100%;
            float: none;
            position: relative;
        }

            .top_menu > ul > li > a, .top_menu .stickUpHolder > ul > li > a {
                border-right: none;
            }
    }

    @media only screen and (min-width: 768px) {
        .top_menu > ul > li + li > a:after, .top_menu .stickUpHolder > ul > li + li > a:after {
            content: '';
            position: absolute;
            height: 16px;
            width: 1px;
            background: #545869;
            top: 50%;
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
        }
    }

    @media (min-width: 768px) and (max-width: 1599px) {
        .top_menu > ul > li + li > a:after, .top_menu .stickUpHolder > ul > li + li > a:after {
            left: -15px;
        }
    }

    @media only screen and (min-width: 1900px) {
        .top_menu > ul > li + li > a:after, .top_menu .stickUpHolder > ul > li + li > a:after {
            left: -46px;
        }
    }

    @media (min-width: 1600px) and (max-width: 1899px) {
        .top_menu > ul > li + li > a:after, .top_menu .stickUpHolder > ul > li + li > a:after {
            left: -40px;
        }
    }

    .top_menu ul.menu, .top_menu .stickUpHolder ul.menu {
        position: relative;
        background: white;
    }

    .top_menu li a, .top_menu .stickUpHolder li a {
        position: relative;
    }

    .top_menu li.simple, .top_menu li li, .top_menu .stickUpHolder li.simple, .top_menu .stickUpHolder li li {
        position: relative;
    }

        .top_menu li li a, .top_menu .stickUpHolder li li a {
            display: block;
            padding: 5px 10px;
            /*text-transform: uppercase;*/
            font: normal 14px/18px "Montserrat", Arial, Helvetica, sans-serif;
        }

        .top_menu li li.sfHover > a, .top_menu li li:hover > a, .top_menu li li.sfHoverForce > a, .top_menu .stickUpHolder li li.sfHover > a, .top_menu .stickUpHolder li li:hover > a, .top_menu .stickUpHolder li li.sfHoverForce > a {
            color: red;
        }

    .top_menu .menu_badge, .top_menu .stickUpHolder .menu_badge {
        position: absolute;
        top: -2px;
        right: -5px;
        z-index: 2;
        font-size: 10px;
        display: inline-block;
        background: #f00;
        color: #fff;
        padding: 1px 5px 2px 5px;
        line-height: 12px;
        border-radius: 3px;
        margin-left: 10px;
    }

    @media only screen and (max-width: 767px) {
        .top_menu .menu_badge, .top_menu .stickUpHolder .menu_badge {
            right: auto;
            left: 5px;
        }
    }

    .top_menu .is-megamenu, .top_menu .stickUpHolder .is-megamenu {
        width: 100%;
        border: 1px solid #ccc;
        padding: 40px 0;
        background: #fff;
        display: none;
        -moz-box-shadow: 0 5px 13px rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 0 5px 13px rgba(0, 0, 0, 0.2);
        box-shadow: 0 5px 13px rgba(0, 0, 0, 0.2);
    }

    @media only screen and (min-width: 1400px) {
        .top_menu .is-megamenu, .top_menu .stickUpHolder .is-megamenu {
            padding: 134px 45px;
        }
    }

    @media only screen and (min-width: 768px) {
        .top_menu .is-megamenu, .top_menu .stickUpHolder .is-megamenu {
            position: absolute;
            top: 100%;
            left: 0;
        }
    }

    .top_menu .is-megamenu .megamenu-row, .top_menu .stickUpHolder .is-megamenu .megamenu-row {
        padding-top: 15px;
        padding-bottom: 15px;
    }

        .top_menu .is-megamenu .megamenu-row + .megamenu-row, .top_menu .stickUpHolder .is-megamenu .megamenu-row + .megamenu-row {
            border-top: 1px solid #ccc;
        }

    @media (max-width: 767px) {
        .top_menu .is-megamenu .megamenu-row .megamenu-col + .megamenu-col, .top_menu .stickUpHolder .is-megamenu .megamenu-row .megamenu-col + .megamenu-col {
            margin-top: 30px;
        }
    }

    @media (min-width: 768px) and (max-width: 992px) {
        .top_menu .is-megamenu .megamenu-row .megamenu-col, .top_menu .stickUpHolder .is-megamenu .megamenu-row .megamenu-col {
            width: 50%;
            margin-top: 20px;
        }

            .top_menu .is-megamenu .megamenu-row .megamenu-col.full_with_on_mobile, .top_menu .stickUpHolder .is-megamenu .megamenu-row .megamenu-col.full_with_on_mobile {
                width: 100%;
                margin-top: 40px;
            }
    }

    .top_menu .is-megamenu .megamenu-row-2, .top_menu .stickUpHolder .is-megamenu .megamenu-row-2 {
        background: #f8f8f8;
    }

    .top_menu .is-megamenu li li, .top_menu .stickUpHolder .is-megamenu li li {
        padding-left: 10px;
    }

    .top_menu .is-megamenu ul.content > li, .top_menu .stickUpHolder .is-megamenu ul.content > li {
        display: inline-block;
    }

        .top_menu .is-megamenu ul.content > li > a, .top_menu .stickUpHolder .is-megamenu ul.content > li > a {
            font: 400 20px/28px "Montserrat", Arial, Helvetica, sans-serif;
            color: #191e3b;
        }

            .top_menu .is-megamenu ul.content > li > a:hover, .top_menu .stickUpHolder .is-megamenu ul.content > li > a:hover {
                color: red;
            }

    @media (max-width: 1199px) {
        .top_menu .is-megamenu ul.content > li > a, .top_menu .stickUpHolder .is-megamenu ul.content > li > a {
            font-size: 16px;
            line-height: 20px;
        }
    }

    .top_menu .is-megamenu ul.content > li.sfHover > a, .top_menu .stickUpHolder .is-megamenu ul.content > li.sfHover > a {
        color: red;
    }

    .top_menu .is-megamenu ul.content > li.banner-menu > a, .top_menu .stickUpHolder .is-megamenu ul.content > li.banner-menu > a {
        position: relative;
        max-width: 530px;
        margin: 0 auto;
        height: auto;
        display: block;
        overflow: hidden;
    }

        .top_menu .is-megamenu ul.content > li.banner-menu > a:before, .top_menu .is-megamenu ul.content > li.banner-menu > a:after, .top_menu .stickUpHolder .is-megamenu ul.content > li.banner-menu > a:before, .top_menu .stickUpHolder .is-megamenu ul.content > li.banner-menu > a:after {
            content: '';
            position: absolute;
            background: transparent;
            opacity: 0;
            pointer-events: none;
            z-index: 3;
            -moz-transition: all 0.5s ease 0s;
            -o-transition: all 0.5s ease 0s;
            -webkit-transition: all 0.5s ease;
            -webkit-transition-delay: 0s;
            transition: all 0.5s ease 0s;
            box-shadow: none;
        }

        .top_menu .is-megamenu ul.content > li.banner-menu > a:before, .top_menu .stickUpHolder .is-megamenu ul.content > li.banner-menu > a:before {
            top: 0px;
            left: 0px;
            right: 100%;
            bottom: 100%;
            border-top: 10px solid;
            border-left: 10px solid;
        }

        .top_menu .is-megamenu ul.content > li.banner-menu > a:after, .top_menu .stickUpHolder .is-megamenu ul.content > li.banner-menu > a:after {
            left: 100%;
            top: 100%;
            bottom: 0px;
            right: 0px;
            border-bottom: 10px solid;
            border-right: 10px solid;
        }

        .top_menu .is-megamenu ul.content > li.banner-menu > a:hover:before, .top_menu .stickUpHolder .is-megamenu ul.content > li.banner-menu > a:hover:before {
            opacity: 1;
            bottom: 0px;
            right: 0px;
        }

        .top_menu .is-megamenu ul.content > li.banner-menu > a:hover:after, .top_menu .stickUpHolder .is-megamenu ul.content > li.banner-menu > a:hover:after {
            opacity: 1;
            left: 0px;
            top: 0px;
        }

    .top_menu .is-megamenu ul.content ul, .top_menu .stickUpHolder .is-megamenu ul.content ul {
        opacity: 1 !important;
        display: block !important;
        padding: 20px 0 0;
    }

    @media (max-width: 767px) {
        .top_menu .is-megamenu ul.content ul, .top_menu .stickUpHolder .is-megamenu ul.content ul {
            padding: 5px 0 0;
        }
    }

    .top_menu .is-megamenu ul.content ul li a, .top_menu .stickUpHolder .is-megamenu ul.content ul li a {
        padding: 0;
        font: normal 15px/18px "Montserrat", Arial, Helvetica, sans-serif;
        line-height: 30px;
        /*text-transform: uppercase;*/
        color: #191e3b;
    }

        .top_menu .is-megamenu ul.content ul li a:hover, .top_menu .stickUpHolder .is-megamenu ul.content ul li a:hover {
            color: red;
        }

    .top_menu .menu-title, .top_menu .stickUpHolder .menu-title {
        display: none !important;
    }

    .top_menu .menu-mobile-grover:before, .top_menu .stickUpHolder .menu-mobile-grover:before {
        position: absolute;
        font-family: "fl-outicons";
        content: "\e00e";
        display: inline-block;
        font-weight: normal;
        height: 20px;
        width: 20px;
        font-size: 14px;
        line-height: 20px;
        top: 17px;
        right: 20px;
        cursor: pointer;
        z-index: 1;
        color: #a1a4ae;
    }

    @media only screen and (min-width: 768px) {
        .top_menu .menu-mobile-grover:before, .top_menu .stickUpHolder .menu-mobile-grover:before {
            display: none;
        }
    }

    .top_menu .menu-mobile-grover.active:before, .top_menu .stickUpHolder .menu-mobile-grover.active:before {
        font-family: "fl-outicons";
        content: "\e00d";
        display: inline-block;
        font-weight: normal;
    }

    @media only screen and (max-width: 767px) {
        .top_menu .is-simplemenu li, .top_menu .stickUpHolder .is-simplemenu li {
            border-top: 1px solid #ccc;
        }

            .top_menu .is-simplemenu li .menu-mobile-grover:before, .top_menu .stickUpHolder .is-simplemenu li .menu-mobile-grover:before {
                top: 8px;
                right: 5px;
                font-size: 14px;
            }

            .top_menu .is-simplemenu li a, .top_menu .stickUpHolder .is-simplemenu li a {
                display: block;
                font-size: 14px;
                padding: 8px 0px;
            }

            .top_menu .is-simplemenu li li a, .top_menu .stickUpHolder .is-simplemenu li li a {
                padding-left: 20px;
            }

            .top_menu .is-simplemenu li li li a, .top_menu .stickUpHolder .is-simplemenu li li li a {
                padding-left: 30px;
            }

            .top_menu .is-simplemenu li li li li a, .top_menu .stickUpHolder .is-simplemenu li li li li a {
                padding-left: 40px;
            }

        .top_menu li.simple ul, .top_menu .stickUpHolder li.simple ul {
            display: none;
        }

        .top_menu .megamenu-col.col-sm-3, .top_menu .stickUpHolder .megamenu-col.col-sm-3 {
            float: left;
            width: 50%;
        }

            .top_menu .megamenu-col.col-sm-3.first-in-line-sm, .top_menu .stickUpHolder .megamenu-col.col-sm-3.first-in-line-sm {
                clear: left;
            }
    }

    @media (max-width: 479px) {
        .top_menu .megamenu-col.col-sm-3, .top_menu .stickUpHolder .megamenu-col.col-sm-3 {
            width: auto;
        }
    }

    .red {
        background: #f00;
    }

    .menuvideowrapper {
        clear: both;
        float: none;
        height: 0;
        padding-bottom: 56.25%;
        padding-top: 25px;
        position: relative;
        width: 100%;
    }

        .menuvideowrapper iframe {
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }

    .embed-container {
        position: relative;
        padding-bottom: 56.25%;
        overflow: hidden;
        max-width: 100%;
        height: auto;
    }

        .embed-container iframe,
        .embed-container object,
        .embed-container embed {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

    .frontend-map {
        min-height: 200px;
    }

    /**** Left/Right column menu ****/
    .left_column_menu .block_content li, .right_column_menu .block_content li {
        position: relative;
    }

        .left_column_menu .block_content li.simple ul, .right_column_menu .block_content li.simple ul {
            display: none;
        }

    @media only screen and (min-width: 768px) {
        .left_column_menu .block_content li.simple ul, .right_column_menu .block_content li.simple ul {
            position: absolute;
            top: -1px;
            width: 200px;
            border: 1px solid #ccc;
            background: #fff;
            z-index: 999;
        }
    }

    @media only screen and (max-width: 767px) {
        .left_column_menu .block_content li.simple ul li, .right_column_menu .block_content li.simple ul li {
            border-top: 1px solid #ccc;
            position: relative;
        }

            .left_column_menu .block_content li.simple ul li a, .right_column_menu .block_content li.simple ul li a {
                display: block;
                padding: 10px 0 10px 15px;
                position: relative;
            }

            .left_column_menu .block_content li.simple ul li li a, .right_column_menu .block_content li.simple ul li li a {
                padding-left: 25px;
            }
    }

    .left_column_menu .block_content > ul > li, .right_column_menu .block_content > ul > li {
        border-top: 1px solid #ccc;
        position: relative;
    }

        .left_column_menu .block_content > ul > li > a, .right_column_menu .block_content > ul > li > a {
            display: block;
            padding: 10px 0;
            position: relative;
        }

        .left_column_menu .block_content > ul > li:first-child, .right_column_menu .block_content > ul > li:first-child {
            border: none;
        }

    .left_column_menu .block_content span.menu_badge, .right_column_menu .block_content span.menu_badge {
        font-size: 10px;
        display: inline-block;
        background: #f00;
        color: #fff;
        padding: 1px 5px 2px 5px;
        line-height: 12px;
        border-radius: 3px;
        margin-left: 10px;
    }

    .left_column_menu .block_content li.simple li a, .right_column_menu .block_content li.simple li a {
        padding: 4px 5px;
        display: block;
    }

    .left_column_menu .block_content div.is-megamenu, .right_column_menu .block_content div.is-megamenu {
        display: none;
    }

        .left_column_menu .block_content div.is-megamenu ul, .right_column_menu .block_content div.is-megamenu ul {
            display: block !important;
            opacity: 1 !important;
        }

            .left_column_menu .block_content div.is-megamenu ul.content > li > a, .right_column_menu .block_content div.is-megamenu ul.content > li > a {
                font-weight: bold;
                text-transform: uppercase;
            }

            .left_column_menu .block_content div.is-megamenu ul.content > li li, .right_column_menu .block_content div.is-megamenu ul.content > li li {
                padding-left: 5px;
            }

    @media only screen and (min-width: 768px) {
        .left_column_menu .block_content div.is-megamenu, .right_column_menu .block_content div.is-megamenu {
            position: absolute;
            top: 0;
            width: 600px;
            padding: 15px;
            background: #fff;
            border: 1px solid #ccc;
            z-index: 999;
        }
    }

    @media (min-width: 480px) and (max-width: 767px) {
        .left_column_menu .block_content div.is-megamenu .megamenu-col.col-sm-3, .right_column_menu .block_content div.is-megamenu .megamenu-col.col-sm-3 {
            width: 50%;
            float: left;
        }

            .left_column_menu .block_content div.is-megamenu .megamenu-col.col-sm-3.first-in-line-sm, .right_column_menu .block_content div.is-megamenu .megamenu-col.col-sm-3.first-in-line-sm {
                clear: left;
            }
    }

    .left_column_menu .block_content .menu-mobile-grover:after, .right_column_menu .block_content .menu-mobile-grover:after {
        position: absolute;
        right: 0;
        top: 12px;
        height: 15px;
        width: 15px;
        line-height: 15px;
        font-size: 15px;
        content: "\f067";
        font-family: 'FontAwesome';
        z-index: 1;
        cursor: pointer;
    }

    .left_column_menu .block_content .menu-mobile-grover.active:after, .right_column_menu .block_content .menu-mobile-grover.active:after {
        content: "\f068";
    }

    .left_column_menu li.simple ul {
        right: -200px;
    }

    .right_column_menu li.simple ul {
        left: -200px;
    }

    .left_column_menu div.is-megamenu {
        right: -600px;
    }

    .right_column_menu div.is-megamenu {
        left: -600px;
    }
}