
<body id="cms" class="cms cms-2 cms-legal-notice hide-left-column hide-right-column lang_en  one-column">

    <div id="page">
        <div id="preloader"></div>

        <div class="columns-container">

            <div class="breadcrumb clearfix">
                <ul>
                    <li class="home">
                        <a class="home" href="" title="Return to Home">
                            <i class="fa fa-home"></i>
                        </a>
                    </li>
                    <li class="last">Sıkça Sorulan Sorular</li>
                </ul>
            </div>


            <div id="slider_row" class="row">
            </div>

            <div class="page-wrap">

                <div id="columns" class="container">
                    <div class="row">
                        <a href="#" id="home-scroll"></a>
                        <div class="large-left col-sm-12">
                            <div class="row">
                                <div id="center_column" class="center_column col-xs-12 col-sm-12 accordionBox">
                                    <div class="rte">
                                        <h1 style="text-align:center;">Sıkça Sorulan Sorular</h1>
                                        @*<p class="border_bottom" style="text-align:center;">If you need help, we have a list of frequently asked questions and answers. We strive to give you the best buying experience possible. Click a question below to view the answer.</p>*@
                                        <ul class="list-accordion">
                                            <li>
                                                <h3 class="accordion_current">How can I change something in my order?</h3>
                                                <ul class="list-3 disk accordion_content" style="display: none; height: 244px; padding-top: 0px; margin-top: 0px; padding-bottom: 11px; margin-bottom: 0px;">
                                                    <li class="text">If you need to change something your order, please contact us immediately. We usually process orders within 2-4 hours, and once we have processed your order, we will be unable to make any changes.</li>
                                                    <li>
                                                        <h4>Change order</h4>
                                                    </li>
                                                    <li>
                                                        <h4>Cancel order online</h4>
                                                    </li>
                                                    <li>
                                                        <h4>Cancel order using automated system</h4>
                                                    </li>
                                                    <li>
                                                        <h4>Unable to cancel order</h4>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <h3 class="accordion_current">How can I pay for my order?</h3>
                                                <p class="accordion_content" style="display: none;">We accept Visa, MasterCard, and American Express credit and debit cards for your convenience.<br><br></p>
                                            </li>
                                            <li>
                                                <h3 class="accordion_current">Can I track my order?</h3>
                                                <p class="accordion_content" style="display: none;">Yes, you can! After placing your order you will receive an order confirmation via email. Each order starts production 24 hours after your order is placed. Within 72 hours of you placing your order, you will receive an expected delivery date. When the order ships, you will receive another email with the tracking number and a link to trace the order online with the carrier.<br><br></p>
                                            </li>
                                            <li>
                                                <h3 class="accordion_current">Can I return an item?</h3>
                                                <p class="accordion_content" style="display: none;">Please visit our Returns &amp; Exchanges page for more information.<br><br></p>
                                            </li>
                                            <li>
                                                <h3 class="accordion_current">How long will my order take to be delivered?</h3>
                                                <p class="accordion_content" style="display: none;">Delivery times will depend on your location. Once payment is confirmed your order will be packaged. Delivery can be expected within 10 business days.<br><br></p>
                                            </li>
                                            <li>
                                                <h3 class="accordion_current">Do I need an account and what are the benefits?</h3>
                                                <p class="accordion_content" style="display: none;">It's not required to create an account. But, having an account provides easier checkout, the ability to create and send a wishlist, and a customized shopping experience.<br><br></p>
                                            </li>
                                            <li>
                                                <h3 class="accordion_current">How can I pay for my order?</h3>
                                                <p class="accordion_content" style="display: none;">We accept Visa, MasterCard, and American Express credit and debit cards for your convenience.<br><br></p>
                                            </li>
                                            <li>
                                                <h3 class="accordion_current">Can I track my order?</h3>
                                                <p class="accordion_content" style="display: none;">Yes, you can! After placing your order you will receive an order confirmation via email. Each order starts production 24 hours after your order is placed. Within 72 hours of you placing your order, you will receive an expected delivery date. When the order ships, you will receive another email with the tracking number and a link to trace the order online with the carrier.<br><br></p>
                                            </li>
                                            <li>
                                                <h3 class="accordion_current">Can I return an item?</h3>
                                                <p class="accordion_content" style="display: none;">Please visit our Returns &amp; Exchanges page for more information.<br><br></p>
                                            </li>
                                        </ul>
                                    </div>
                                    <br>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</body>
