
@{
    ViewBag.Title = "ProductDetails";
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
}

@model AtekKurumsal.Models.Ürün

<div class="columns-container">

    <div class="breadcrumb clearfix">
        <ul>
            <li class="home">
                <a class="home" href="http://ld-prestashop.template-help.com/prestashop_59032/" title="Return to Home">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li class="last">Sink with Unique Hand Painting Pattern & Brushed Nickel</li>
        </ul>
    </div>

    <div id="slider_row" class="row">
    </div>

    <div class="page-wrap">

        <div id="columns" class="container">
            <div class="row">
                <a href="#" id="home-scroll"></a>
                <div class="large-left col-sm-12">
                    <div class="row">
                        <div id="center_column" class="center_column col-xs-12 col-sm-12">

                            <div itemscope itemtype="https://schema.org/Product">
                                <meta itemprop="url" content="">
                                <div class="primary_block row">


                                    <div class="pb-left-column col-sm-5 col-md-5 col-lg-5">

                                        <div id="el_prev"></div>
                                        <div id="el_next"></div>

                                        <div id="image-block" class="clearfix is_caroucel">
                                            <span class="sale-box no-print">
                                                <span class="sale-label">Sale!</span>
                                            </span>
                                            <span id="view_full_size">
                                                <img id="bigpic" itemprop="image" src="~/assets/img/p/2/4/24-buyuk.jpg" title="Sink with Unique Hand Painting Pattern &amp; Brushed Nickel" alt="Sink with Unique Hand Painting Pattern &amp; Brushed Nickel" width="458" height="458" />
                                                <span class="span_link no-print">View larger</span>
                                            </span>
                                        </div>

                                        <div id="views_block" class="clearfix">
                                            <a id="view_scroll_left" class="" title="Other views" href="javascript:{}">
                                                Previous
                                            </a>
                                            <div id="thumbs_list">
                                                <ul id="thumbs_list_frame">

                                                    <li id="thumbnail_24">
                                                        <a href="~/assets/img/p/2/4/24-buyuk.jpg"
                                                           data-fancybox-group="other-views"
                                                           class="fancybox"
                                                           title="Sink with Unique Hand Painting Pattern &amp; Brushed Nickel">
                                                            <img class="img-responsive" id="thumb_24" src="~/assets/img/p/2/4/24-kucuk.jpg" alt="Sink with Unique Hand Painting Pattern &amp; Brushed Nickel" title="Sink with Unique Hand Painting Pattern &amp; Brushed Nickel" height="80" width="80" itemprop="image" />
                                                        </a>
                                                    </li>

                                                    <li id="thumbnail_25">
                                                        <a href="~/assets/img/p/2/4/25-buyuk.jpg"
                                                           data-fancybox-group="other-views"
                                                           class="fancybox"
                                                           title="Sink with Unique Hand Painting Pattern &amp; Brushed Nickel">
                                                            <img class="img-responsive" id="thumb_25" src="~/assets/img/p/2/4/25-kucuk.jpg" alt="Sink with Unique Hand Painting Pattern &amp; Brushed Nickel" title="Sink with Unique Hand Painting Pattern &amp; Brushed Nickel" height="80" width="80" itemprop="image" />
                                                        </a>
                                                    </li>

                                                    <li id="thumbnail_26">
                                                        <a href="~/assets/img/p/2/4/26-buyuk.jpg"
                                                           data-fancybox-group="other-views"
                                                           class="fancybox"
                                                           title="Sink with Unique Hand Painting Pattern &amp; Brushed Nickel">
                                                            <img class="img-responsive" id="thumb_26" src="/assets/img/p/2/4/26-kucuk.jpg" alt="Sink with Unique Hand Painting Pattern &amp; Brushed Nickel" title="Sink with Unique Hand Painting Pattern &amp; Brushed Nickel" height="80" width="80" itemprop="image" />
                                                        </a>
                                                    </li>

                                                    <li id="thumbnail_27">
                                                        <a href="/assets/img/p/2/4/27-buyuk.jpg"
                                                           data-fancybox-group="other-views"
                                                           class="fancybox"
                                                           title="Sink with Unique Hand Painting Pattern &amp; Brushed Nickel">
                                                            <img class="img-responsive" id="thumb_27" src="/assets/img/p/2/4/27-kucuk.jpg" alt="Sink with Unique Hand Painting Pattern &amp; Brushed Nickel" title="Sink with Unique Hand Painting Pattern &amp; Brushed Nickel" height="80" width="80" itemprop="image" />
                                                        </a>
                                                    </li>

                                                    <li id="thumbnail_28">
                                                        <a href="/assets/img/p/2/4/28-buyuk.jpg"
                                                           data-fancybox-group="other-views"
                                                           class="fancybox"
                                                           title="Sink with Unique Hand Painting Pattern &amp; Brushed Nickel">
                                                            <img class="img-responsive" id="thumb_28" src="/assets/img/p/2/4/28-kucuk.jpg" alt="Sink with Unique Hand Painting Pattern &amp; Brushed Nickel" title="Sink with Unique Hand Painting Pattern &amp; Brushed Nickel" height="80" width="80" itemprop="image" />
                                                        </a>
                                                    </li>

                                                    <li id="thumbnail_29">
                                                        <a href="/assets/img/p/2/4/29-buyuk.jpg"
                                                           data-fancybox-group="other-views"
                                                           class="fancybox"
                                                           title="Sink with Unique Hand Painting Pattern &amp; Brushed Nickel">
                                                            <img class="img-responsive" id="thumb_29" src="/assets/img/p/2/4/29-kucuk.jpg" alt="Sink with Unique Hand Painting Pattern &amp; Brushed Nickel" title="Sink with Unique Hand Painting Pattern &amp; Brushed Nickel" height="80" width="80" itemprop="image" />
                                                        </a>
                                                    </li>

                                                    <li id="thumbnail_30" class="last">
                                                        <a href="/assets/img/p/2/4/30-buyuk.jpg"
                                                           data-fancybox-group="other-views"
                                                           class="fancybox"
                                                           title="Sink with Unique Hand Painting Pattern &amp; Brushed Nickel">
                                                            <img class="img-responsive" id="thumb_30" src="/assets/img/p/2/4/30-kucuk.jpg" alt="Sink with Unique Hand Painting Pattern &amp; Brushed Nickel" title="Sink with Unique Hand Painting Pattern &amp; Brushed Nickel" height="80" width="80" itemprop="image" />
                                                        </a>
                                                    </li>

                                                </ul>
                                            </div>

                                            <a id="view_scroll_right" title="Other views" href="javascript:{}">
                                                Next
                                            </a>
                                        </div>

                                        <p class="resetimg clear no-print">
                                            <span id="wrapResetImages" style="display: none;">
                                                <a href="http://ld-prestashop.template-help.com/prestashop_59032/index.php?id_product=8&amp;controller=product&amp;id_lang=1" data-id="resetImages">
                                                    <i class="fa fa-repeat"></i>
                                                    Display all pictures
                                                </a>
                                            </span>
                                        </p>

                                    </div>

                                    <div class="pb-right-column col-sm-7 col-md-7 col-lg-7">

                                        <h1 itemprop="name">@Model.ÜrünAdi</h1>

                                        <form id="buy_block" action="http://ld-prestashop.template-help.com/prestashop_59032/index.php?controller=cart" method="post">

                                            <p class="hidden">
                                                <input type="hidden" name="token" value="ee40ee2976e2a3bc32d1acb84fac5327" />
                                                <input type="hidden" name="id_product" value="8" id="product_page_product_id" />
                                                <input type="hidden" name="add" value="1" />
                                                <input type="hidden" name="id_product_attribute" id="idCombination" value="" />
                                            </p>

                                            <div class="box-info-product">


                                                <div class="extra-right">

                                                </div>

                                                <div class="product_attributes clearfix">

                                                    <div id="attributes">
                                                        <div class="clearfix"></div>
                                                        <fieldset class="attribute_fieldset">
                                                            <label class="attribute_label">Horsepower&nbsp;</label>
                                                            <div class="attribute_list">
                                                                <ul>
                                                                    <li>
                                                                        <input type="radio" class="attribute_radio" name="group_5" value="30" checked="checked" />
                                                                        <label>0.25 Hp</label>
                                                                    </li>
                                                                    <li>
                                                                        <input type="radio" class="attribute_radio" name="group_5" value="31" />
                                                                        <label>0.35 Hp</label>
                                                                    </li>
                                                                    <li>
                                                                        <input type="radio" class="attribute_radio" name="group_5" value="32" />
                                                                        <label>0.3 Hp</label>
                                                                    </li>
                                                                </ul>
                                                            </div>

                                                        </fieldset>

                                                        <fieldset class="attribute_fieldset">
                                                            <label class="attribute_label" for="group_3">Color&nbsp;</label>
                                                            <div class="attribute_list">
                                                                <select name="group_3" id="group_3" class="form-control attribute_select no-print">
                                                                    <option value="5" selected="selected" title="Grey">Grey</option>
                                                                    <option value="17" title="Brown">Brown</option>
                                                                </select>
                                                            </div>
                                                        </fieldset>

                                                        <fieldset class="attribute_fieldset">
                                                            <label class="attribute_label" for="group_4">Fitting or Connector Type&nbsp;</label>
                                                            <div class="attribute_list">
                                                                <select name="group_4" id="group_4" class="form-control attribute_select no-print">
                                                                    <option value="25" selected="selected" title="Adapter or Coupling">Adapter or Coupling</option>
                                                                    <option value="26" title="Bushing">Bushing</option>
                                                                    <option value="27" title="Cap">Cap</option>
                                                                    <option value="28" title="Elbow">Elbow</option>
                                                                </select>
                                                            </div>

                                                        </fieldset>

                                                    </div>

                                                    <div class="clearfix">

                                                        <p id="quantity_wanted_p">
                                                            <label for="quantity_wanted">Quantity</label>
                                                            <input type="text" min="1" name="qty" id="quantity_wanted" class="text" value="1" />
                                                            <span class="btn-wrap">

                                                                <a href="#" data-field-qty="qty" class="btn btn-default button-plus product_quantity_up">
                                                                    <span>
                                                                        <i>+</i>
                                                                    </span>
                                                                </a>

                                                                <a href="#" data-field-qty="qty" class="btn btn-default button-minus product_quantity_down">
                                                                    <span>
                                                                        <i>-</i>
                                                                    </span>
                                                                </a>
                                                            </span>

                                                            <span class="clearfix"></span>
                                                        </p>

                                                    </div>

                                                    <p id="minimal_quantity_wanted_p" style="display: none;">
                                                        The minimum purchase order quantity for the product is
                                                        <b id="minimal_quantity_label">1</b>
                                                    </p>
                                                </div>

                                                <div class="box-cart-bottom clearfix">
                                                    <div id="add_to_cart_product_page_button">
                                                        <p id="add_to_cart" class="buttons_bottom_block no-print">
                                                            <button type="submit" name="Submit" class="btn btn-sm btn-default ajax_add_to_cart_product_button">
                                                                <span>Add to cart</span>
                                                            </button>
                                                        </p>
                                                    </div>

                                                    <p class="buttons_bottom_block no-print">
                                                        <a id="wishlist_button_nopop" href="#" onclick="WishlistCart('wishlist_block_list', 'add', '8', $('#idCombination').val(), document.getElementById('quantity_wanted').value); return false;" rel="nofollow" title="Add to my wishlist">
                                                            Add to wishlist
                                                        </a>
                                                    </p>
                                                    <ul id="usefull_link_block" class="clearfix no-print">
                                                        <li class="sendtofriend">
                                                            <a id="send_friend_button" href="#send_friend_form" title="Send to a friend">
                                                                <span>Send to a friend</span>
                                                            </a>

                                                            <div style="display: none;">
                                                                <div id="send_friend_form">
                                                                    <h2 class="page-subheading">
                                                                        Send to a friend
                                                                    </h2>

                                                                    <div class="row">
                                                                        <div class="product clearfix col-xs-12 col-sm-6">
                                                                            <img src="http://ld-prestashop.template-help.com/prestashop_59032/img/p/2/4/24-medium_default.jpg" alt="Sink with Unique Hand Painting Pattern &amp; Brushed Nickel" />

                                                                            <div class="product_desc">
                                                                                <p class="product_name">
                                                                                    <strong>Sink with Unique Hand Painting Pattern & Brushed Nickel</strong>
                                                                                </p>
                                                                                <p>One of the key DIY skills in any home is plumbing. All houses rely on water, bathing, drinking or heating, so knowing roughly how it works and how to fix certain parts is recommended.</p>
                                                                            </div>
                                                                        </div>
                                                                        <!-- .product -->
                                                                        <div class="send_friend_form_content col-xs-12 col-sm-6" id="send_friend_form_content">
                                                                            <div id="send_friend_form_error" class="unvisible error alert alert-danger"></div>
                                                                            <div id="send_friend_form_success"></div>
                                                                            <div class="form_container box">
                                                                                <p class="intro_form">
                                                                                    Recipient :
                                                                                </p>

                                                                                <p class="text">
                                                                                    <label for="friend_name">
                                                                                        Name of your friend <sup class="required">*</sup> :
                                                                                    </label>
                                                                                    <input id="friend_name" class="form-control" name="friend_name" type="text" value="" />
                                                                                </p>

                                                                                <p class="text">
                                                                                    <label for="friend_email">
                                                                                        E-mail address of your friend <sup class="required">*</sup> :
                                                                                    </label>
                                                                                    <input id="friend_email" class="form-control" name="friend_email" type="text" value="" />
                                                                                </p>

                                                                                <p class="txt_required">
                                                                                    <sup class="required">*</sup> Required fields
                                                                                </p>
                                                                            </div>
                                                                            <p class="submit">
                                                                                <button id="sendEmail" class="btn btn-sm btn-default" name="sendEmail" type="submit">
                                                                                    <span>Send</span>
                                                                                </button>
                                                                                &nbsp;
                                                                                or&nbsp;
                                                                                <a class="closefb" href="#" title="Cancel">
                                                                                    Cancel
                                                                                </a>
                                                                            </p>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>

                                                    </ul>
                                                </div>

                                            </div>

                                        </form>
                                    </div>
                                </div>

                                <div class="clearfix product-information">

                                    <ul class="product-info-tabs nav nav-stacked">
                                        <li class="product-description-tab"><a data-toggle="tab" href="#product-description-tab-content">More info</a></li>
                                        <li class="product-features-tab"><a data-toggle="tab" href="#product-features-tab-content">Data sheet</a></li>
                                        <li class="product-attachments-tab"><a data-toggle="tab" href="#product-attachments-tab-content">Download</a></li>
                                        <li class="product-customizable-tab"><a data-toggle="tab" href="#product-customizable-tab-content">Product customization</a></li>

                                        <li class="product-video-tab">
                                            <a href="#product-video-tab-content" data-toggle="tab">Video</a>
                                        </li>

                                        <li class="product-review-tab"><a data-toggle="tab" href="#product-reviews-tab-content">Reviews(<span itemprop="reviewCount">1</span>)</a></li>
                                    </ul>

                                    <div class="tab-content">
                                        <h3 class="page-product-heading">More info</h3>
                                        <div id="product-description-tab-content" class="product-description-tab-content tab-pane">
                                            <div class="rte">
                                                <p>One of the key DIY skills in any home is plumbing. All houses rely on water, bathing, drinking or heating, so knowing roughly how it works and how to fix certain parts is recommended. Here, at our online store we have a huge range of plumbing supplies and tools to take on the most plumbing challenges so that you can keep your home and sanitary ware running smoothly.</p>
                                                <p>In most cases, the job will be to check and replace old or broken plumbing fittings. There are hundreds of different fittings available in our shop to suit both older and more modern plumbing systems. We stock everything from water heaters, pumps, pipes, traps, valves and parts for smaller jobs to other plumbing accessories like sealants and plumbers tape. In fact, there are many plumbing parts to choose from in different sizes and styles so if you are unsure about which is the right one for you, then simply ask a member of our team who will always be happy to help you. By the way, the process of choosing and buying plumbing goods is very easy. You just need to choose the item you like, click the "buy" button and fill in the order form. After that you will be contacted by our representative to coordinate a convenient time for you and shipping details.</p>
                                                <p>Like any kind of job, the key to success with plumbing is having the right tools. Our online store is a new and unique platform on which you can choose and order only high quality plumbing supplies from the top-rated manufacturers at the best prices. Our range is constantly expanded and updated with the new, modern and technologically advanced products. Remember: here you will get not just ordinary plumbing supplies, tools and parts, but the quality and comfort for your home for the long years.</p>
                                            </div>
                                        </div>

                                        <h3 class="page-product-heading">Data sheet</h3>
                                        <div id="product-features-tab-content" class="product-features-tab-content tab-pane">
                                            <table class="table-data-sheet">
                                                <tr class="odd">
                                                    <td>Warranty</td>
                                                    <td>3 years</td>
                                                </tr>
                                                <tr class="even">
                                                    <td>Voltage</td>
                                                    <td>115  v</td>
                                                </tr>
                                                <tr class="odd">
                                                    <td>Discharge Flow</td>
                                                    <td>1500-3000 gallons/h</td>
                                                </tr>
                                                <tr class="even">
                                                    <td>Pipe size</td>
                                                    <td>1-1.4”</td>
                                                </tr>
                                                <tr class="odd">
                                                    <td>Material</td>
                                                    <td>Cast Iron</td>
                                                </tr>
                                                <tr class="even">
                                                    <td>Eco options</td>
                                                    <td>No</td>
                                                </tr>
                                                <tr class="odd">
                                                    <td>Shipping</td>
                                                    <td>Free shipping</td>
                                                </tr>
                                                <tr class="even">
                                                    <td>Weight</td>
                                                    <td>10 pounds</td>
                                                </tr>
                                                <tr class="odd">
                                                    <td>Handle Type</td>
                                                    <td>Knob</td>
                                                </tr>
                                                <tr class="even">
                                                    <td>Spout Type</td>
                                                    <td>High Arc</td>
                                                </tr>
                                            </table>
                                        </div>


                                        <h3 class="page-product-heading">Download</h3>
                                        <div id="product-attachments-tab-content" class="product-attachments-tab-content tab-pane">
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <h4>
                                                        <a href="http://ld-prestashop.template-help.com/prestashop_59032/index.php?controller=attachment&amp;id_attachment=1">Test Attachments</a>
                                                    </h4>

                                                    <p class="text-muted"></p>
                                                    <a class="btn btn-default btn-sm" href="http://ld-prestashop.template-help.com/prestashop_59032/index.php?controller=attachment&amp;id_attachment=1">
                                                        <i class="fa fa-download"></i>
                                                        Download (3.85k)
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                        <h3 class="page-product-heading">Product customization</h3>
                                        <div id="product-customizable-tab-content" class="product-customizable-tab-content tab-pane">
                                            <form method="post" action="/prestashop_59032/index.php?id_product=8&amp;controller=product&amp;id_lang=1" enctype="multipart/form-data" id="customizationForm" class="clearfix">
                                                <p class="infoCustomizable">
                                                    After saving your customized product, remember to add it to your cart.
                                                    <br />
                                                    Allowed file formats are: GIF, JPG, PNG
                                                </p>
                                                <div class="customizableProductsFile">
                                                    <h5 class="product-heading-h5">Pictures</h5>
                                                    <ul id="uploadable_files" class="clearfix">

                                                        <li class="customizationUploadLine required">
                                                            <div class="customizationUploadBrowse form-group">
                                                                <label class="customizationUploadBrowseDescription">
                                                                    Please select an image file from your computer
                                                                    <sup>*</sup>
                                                                </label>
                                                                <input type="file" name="file1" id="img0" class="form-control customization_block_input " />
                                                            </div>
                                                        </li>

                                                    </ul>
                                                </div>
                                                <div class="customizableProductsText">
                                                    <h5 class="product-heading-h5">Text</h5>
                                                    <ul id="text_fields">

                                                        <li class="customizationUploadLine required">
                                                            <label for="textField0">
                                                                <sup>*</sup>
                                                            </label>
                                                            <textarea name="textField2" class="form-control customization_block_input" id="textField0" rows="3" cols="20"></textarea>
                                                        </li>

                                                    </ul>
                                                </div>
                                                <p id="customizedDatas">
                                                    <input type="hidden" name="quantityBackup" id="quantityBackup" value="" />
                                                    <input type="hidden" name="submitCustomizedDatas" value="1" />
                                                    <button class="btn btn-default btn-sm" name="saveCustomization">
                                                        <span>Save</span>
                                                    </button>
                                                    <span id="ajax-loader" class="unvisible">
                                                        <img src="http://ld-prestashop.template-help.com/prestashop_59032/img/loader.gif" alt="loader" />
                                                    </span>
                                                </p>
                                                <span class="required"><sup>*</sup> required fields</span>
                                            </form>
                                        </div>


                                        <h3 id="#idTab5" class="idTabHrefShort page-product-heading">Reviews</h3>
                                        <div id="product-reviews-tab-content" class="product-reviews-tab-content tab-pane">

                                            <h3 id="#idTab5" class="idTabHrefShort page-product-heading">Reviews</h3>

                                            <div id="idTab5">
                                                <div id="product_comments_block_tab">
                                                    <div class="comment row" itemprop="review" itemscope itemtype="https://schema.org/Review">
                                                        <div class="comment_author col-sm-3">
                                                            <em>May 12, 2015</em>
                                                            <div class="comment_author_infos">
                                                                <strong itemprop="author">asdf a</strong>
                                                            </div>
                                                            <div class="star_content clearfix" itemprop="reviewRating" itemscope itemtype="https://schema.org/Rating">
                                                                <div class="star star_on"></div>
                                                                <div class="star star_on"></div>
                                                                <div class="star star_on"></div>
                                                                <div class="star"></div>
                                                                <div class="star"></div>
                                                                <meta itemprop="worstRating" content="0" />
                                                                <meta itemprop="ratingValue" content="3" />
                                                                <meta itemprop="bestRating" content="5" />
                                                            </div>
                                                        </div>


                                                        <div class="comment_details col-sm-9">
                                                            <h6 class="title_block">THANK YOU</h6>

                                                            <p itemprop="reviewBody">Hi, my order arrived yesterday. I love it! Thank you! What a fast service...you guys are great! I wish every site was like this one </p>
                                                            <ul>
                                                                <li>
                                                                    1 out of 1 people found this review useful.
                                                                </li>
                                                            </ul>
                                                        </div>

                                                    </div>

                                                </div>

                                            </div>

                                            <div style="display: none;">
                                                <div id="new_comment_form">
                                                    <form id="id_new_comment_form" action="#">
                                                        <h2 class="page-subheading">
                                                            Write a review
                                                        </h2>

                                                        <div class="row">
                                                            <div class="product clearfix col-xs-12 col-sm-6">
                                                                <img src="http://ld-prestashop.template-help.com/prestashop_59032/img/p/2/4/24-medium_default.jpg" alt="Sink with Unique Hand Painting Pattern &amp; Brushed Nickel" />

                                                                <div class="product_desc">
                                                                    <p class="product_name">
                                                                        <strong>Sink with Unique Hand Painting Pattern & Brushed Nickel</strong>
                                                                    </p>
                                                                    <p>One of the key DIY skills in any home is plumbing. All houses rely on water, bathing, drinking or heating, so knowing roughly how it works and how to fix certain parts is recommended.</p>
                                                                </div>
                                                            </div>
                                                            <div class="new_comment_form_content col-xs-12 col-sm-6">
                                                                <div id="new_comment_form_error" class="error alert alert-danger" style="display: none; padding: 15px 25px">
                                                                    <ul></ul>
                                                                </div>
                                                                <ul id="criterions_list">
                                                                    <li>
                                                                        <label>Quality:</label>

                                                                        <div class="star_content">
                                                                            <input class="star not_uniform" type="radio" name="criterion[1]" value="1" />
                                                                            <input class="star not_uniform" type="radio" name="criterion[1]" value="2" />
                                                                            <input class="star not_uniform" type="radio" name="criterion[1]" value="3" checked="checked" />
                                                                            <input class="star not_uniform" type="radio" name="criterion[1]" value="4" />
                                                                            <input class="star not_uniform" type="radio" name="criterion[1]" value="5" />
                                                                        </div>
                                                                        <div class="clearfix"></div>
                                                                    </li>
                                                                </ul>
                                                                <label for="comment_title">
                                                                    Title: <sup class="required">*</sup>
                                                                </label>
                                                                <input id="comment_title" class="form-control" name="title" type="text" value="" />
                                                                <label for="content">
                                                                    Comment: <sup class="required">*</sup>
                                                                </label>
                                                                <textarea id="content" class="form-control" name="content"></textarea>
                                                                <div id="new_comment_form_footer">
                                                                    <input id="id_product_comment_send" class="form-control" name="id_product" type="hidden" value='8' />

                                                                    <p class="fl required"><sup>*</sup> Required fields</p>

                                                                    <p class="fr">
                                                                        <button id="submitNewMessage" name="submitMessage" type="submit" class="btn btn-default btn-sm">
                                                                            <span>Submit</span>
                                                                        </button>
                                                                        &nbsp;
                                                                        or&nbsp;
                                                                        <a class="closefb" href="#" title="Cancel">
                                                                            Cancel
                                                                        </a>
                                                                    </p>
                                                                    <div class="clearfix"></div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </form>

                                                </div>
                                            </div>

                                        </div>


                                        <h3 class="page-product-heading">Video</h3>
                                        <div id="product-video-tab-content" class="product-video-tab-content tab-pane">
                                            <div class="videowrapper">
                                                <iframe src="https://www.youtube.com/embed/mZ5Gw7rhYkc?enablejsapi=1&version=3&html5=1&wmode=transparent&controls=1&autoplay=&autohide=&disablekb=&fs=1&iv_load_policy=3&loop=&showinfo=1&theme=dark"
                                                        frameborder="0"
                                                        wmode="Opaque"></iframe>
                                            </div>
                                            <h4 class="video-name">AAR Plumbing and Heating Supply</h4>
                                        </div>


                                    </div>
                                </div>


                                <section class="page-product-box">
                                    <h3 class="page-product-heading">Accessories</h3>

                                    <div class="block products_block accessories-block clearfix">
                                        <div class="block_content">
                                            <ul id="bxslider" class="bxslider clearfix">
                                                <li class="item product-box ajax_block_product first_item product_accessories_description">
                                                    <div class="product_desc">
                                                        <a href="http://ld-prestashop.template-help.com/prestashop_59032/index.php?id_product=11&amp;controller=product&amp;id_lang=1" title="Two Handle Centerset Lavatory Faucet with Pop-Up Drain" class="product-image product_image">
                                                            <img class="lazyOwl" src="http://ld-prestashop.template-help.com/prestashop_59032/img/p/4/4/44-tm_home_default.jpg" alt="Two Handle Centerset Lavatory Faucet with Pop-Up Drain" width="250" height="250" />
                                                        </a>

                                                        <div class="block_description">
                                                            <a href="http://ld-prestashop.template-help.com/prestashop_59032/index.php?id_product=11&amp;controller=product&amp;id_lang=1" title="More" class="product_description">
                                                                One of the key DIY...
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="s_title_block">
                                                        <h5 class="product-name">
                                                            <a title="Two Handle Centerset Lavatory Faucet with Pop-Up Drain" href="http://ld-prestashop.template-help.com/prestashop_59032/index.php?id_product=11&amp;controller=product&amp;id_lang=1">
                                                                Two Handle Centerset L...
                                                            </a>
                                                        </h5>
                                                    </div>

                                                </li>

                                                <li class="item product-box ajax_block_product item product_accessories_description">
                                                    <div class="product_desc">
                                                        <a href="http://ld-prestashop.template-help.com/prestashop_59032/index.php?id_product=13&amp;controller=product&amp;id_lang=1" title="Gas-Powered Portable Water Pump" class="product-image product_image">
                                                            <img class="lazyOwl" src="http://ld-prestashop.template-help.com/prestashop_59032/img/p/5/8/58-tm_home_default.jpg" alt="Gas-Powered Portable Water Pump" width="250" height="250" />
                                                        </a>

                                                        <div class="block_description">
                                                            <a href="http://ld-prestashop.template-help.com/prestashop_59032/index.php?id_product=13&amp;controller=product&amp;id_lang=1" title="More" class="product_description">
                                                                One of the key DIY...
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="s_title_block">
                                                        <h5 class="product-name">
                                                            <a title="Gas-Powered Portable Water Pump" href="http://ld-prestashop.template-help.com/prestashop_59032/index.php?id_product=13&amp;controller=product&amp;id_lang=1">
                                                                Gas-Powered Portable W...
                                                            </a>
                                                        </h5>
                                                    </div>

                                                </li>

                                                <li class="item product-box ajax_block_product item product_accessories_description">
                                                    <div class="product_desc">
                                                        <a href="http://ld-prestashop.template-help.com/prestashop_59032/index.php?id_product=14&amp;controller=product&amp;id_lang=1" title="Household Garbage Disposer" class="product-image product_image">
                                                            <img class="lazyOwl" src="http://ld-prestashop.template-help.com/prestashop_59032/img/p/6/7/67-tm_home_default.jpg" alt="Household Garbage Disposer" width="250" height="250" />
                                                        </a>

                                                        <div class="block_description">
                                                            <a href="http://ld-prestashop.template-help.com/prestashop_59032/index.php?id_product=14&amp;controller=product&amp;id_lang=1" title="More" class="product_description">
                                                                One of the key DIY...
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="s_title_block">
                                                        <h5 class="product-name">
                                                            <a title="Household Garbage Disposer" href="http://ld-prestashop.template-help.com/prestashop_59032/index.php?id_product=14&amp;controller=product&amp;id_lang=1">
                                                                Household Garbage Disp...
                                                            </a>
                                                        </h5>
                                                    </div>

                                                </li>

                                                <li class="item product-box ajax_block_product item product_accessories_description">
                                                    <div class="product_desc">
                                                        <a href="http://ld-prestashop.template-help.com/prestashop_59032/index.php?id_product=15&amp;controller=product&amp;id_lang=1" title="Bellera Pull-Down Kitchen Faucet" class="product-image product_image">
                                                            <img class="lazyOwl" src="http://ld-prestashop.template-help.com/prestashop_59032/img/p/7/4/74-tm_home_default.jpg" alt="Bellera Pull-Down Kitchen Faucet" width="250" height="250" />
                                                        </a>

                                                        <div class="block_description">
                                                            <a href="http://ld-prestashop.template-help.com/prestashop_59032/index.php?id_product=15&amp;controller=product&amp;id_lang=1" title="More" class="product_description">
                                                                One of the key DIY...
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="s_title_block">
                                                        <h5 class="product-name">
                                                            <a title="Bellera Pull-Down Kitchen Faucet" href="http://ld-prestashop.template-help.com/prestashop_59032/index.php?id_product=15&amp;controller=product&amp;id_lang=1">
                                                                Bellera Pull-Down Kitc...
                                                            </a>
                                                        </h5>
                                                    </div>

                                                </li>

                                                <li class="item product-box ajax_block_product item product_accessories_description">
                                                    <div class="product_desc">
                                                        <a href="http://ld-prestashop.template-help.com/prestashop_59032/index.php?id_product=16&amp;controller=product&amp;id_lang=1" title="Moxie Showerhead and Wireless Speaker" class="product-image product_image">
                                                            <img class="lazyOwl" src="http://ld-prestashop.template-help.com/prestashop_59032/img/p/8/0/80-tm_home_default.jpg" alt="Moxie Showerhead and Wireless Speaker" width="250" height="250" />
                                                        </a>

                                                        <div class="block_description">
                                                            <a href="http://ld-prestashop.template-help.com/prestashop_59032/index.php?id_product=16&amp;controller=product&amp;id_lang=1" title="More" class="product_description">
                                                                One of the key DIY...
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="s_title_block">
                                                        <h5 class="product-name">
                                                            <a title="Moxie Showerhead and Wireless Speaker" href="http://ld-prestashop.template-help.com/prestashop_59032/index.php?id_product=16&amp;controller=product&amp;id_lang=1">
                                                                Moxie Showerhead and W...
                                                            </a>
                                                        </h5>
                                                    </div>

                                                </li>

                                                <li class="item product-box ajax_block_product item product_accessories_description">
                                                    <div class="product_desc">
                                                        <a href="http://ld-prestashop.template-help.com/prestashop_59032/index.php?id_product=17&amp;controller=product&amp;id_lang=1" title="Deck Mount Two-Way Diverter Valve" class="product-image product_image">
                                                            <img class="lazyOwl" src="http://ld-prestashop.template-help.com/prestashop_59032/img/p/8/2/82-tm_home_default.jpg" alt="Deck Mount Two-Way Diverter Valve" width="250" height="250" />
                                                        </a>

                                                        <div class="block_description">
                                                            <a href="http://ld-prestashop.template-help.com/prestashop_59032/index.php?id_product=17&amp;controller=product&amp;id_lang=1" title="More" class="product_description">
                                                                One of the key DIY...
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="s_title_block">
                                                        <h5 class="product-name">
                                                            <a title="Deck Mount Two-Way Diverter Valve" href="http://ld-prestashop.template-help.com/prestashop_59032/index.php?id_product=17&amp;controller=product&amp;id_lang=1">
                                                                Deck Mount Two-Way Div...
                                                            </a>
                                                        </h5>
                                                    </div>

                                                </li>

                                                <li class="item product-box ajax_block_product last_item product_accessories_description">
                                                    <div class="product_desc">
                                                        <a href="http://ld-prestashop.template-help.com/prestashop_59032/index.php?id_product=18&amp;controller=product&amp;id_lang=1" title="Sink in Multicolor and Waterfall Faucet" class="product-image product_image">
                                                            <img class="lazyOwl" src="http://ld-prestashop.template-help.com/prestashop_59032/img/p/9/6/96-tm_home_default.jpg" alt="Sink in Multicolor and Waterfall Faucet" width="250" height="250" />
                                                        </a>

                                                        <div class="block_description">
                                                            <a href="http://ld-prestashop.template-help.com/prestashop_59032/index.php?id_product=18&amp;controller=product&amp;id_lang=1" title="More" class="product_description">
                                                                One of the key DIY...
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="s_title_block">
                                                        <h5 class="product-name">
                                                            <a title="Sink in Multicolor and Waterfall Faucet" href="http://ld-prestashop.template-help.com/prestashop_59032/index.php?id_product=18&amp;controller=product&amp;id_lang=1">
                                                                Sink in Multicolor and...
                                                            </a>
                                                        </h5>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </section>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

